<section class="half-and-half-block {{ styleModifier }} {{# halfAndHalf.reversed }}half-and-half-reversed{{/ halfAndHalf.reversed }}">
  <div class="left-half">
    <div class="half-and-half-content">
      <h3 class="secondary-heading">{{ halfAndHalf.heading }}</h3>
      {{# halfAndHalf.copy }}
      <p>{{{ halfAndHalf.copy }}}</p>
      {{/ halfAndHalf.copy }} {{# halfAndHalf.linkText }}
      <a class="arrow-link {{ halfAndHalf.linkColor }}" href="{{ halfAndHalf.linkUrl }}">{{ halfAndHalf.linkText }}</a> {{/ halfAndHalf.linkText }}
    </div>
    <!-- /.half-and-half-content -->
  </div>
  <!-- /.left-half -->

  <div class="right-half">
    <div class="half-and-half-imagery">
      {{> molecules-image-carousel }}
    </div>
    <!-- /.half-and-half-imagery -->
  </div>
  <!-- /.right-half -->
</section>
<!-- /.half-half-block -->