<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron:vertical-center|jumbotron-large}} {{> molecules-brand-bar}}

  <main>
    <div class="content-wrapper black-bg mb-10" style="padding-bottom: 6rem;">
      {{> organisms-multiple-property-cards}} {{> organisms-property-search-block}}
    </div>

    {{> organisms-multiple-brand-cards}}

    <h1 class="secondary-heading text-center">
      Lifestyle Finishings
    </h1>
    <div class="container no-padding">
      {{> molecules-image-carousel:mb-10}}
    </div>

    {{> molecules-related-items }}
  </main>

  {{> organisms-footer}}

</div>
<!--/.wrapper-->