<section class="filter-tabs">
    <h3 class="filter-heading">Boardwalk Stories</h3>
    <ul class="filter-categories">
        <li class="category-item active"><a href="#">All</a></li>
        <li class="category-item"><a href="#">Events</a></li>
        <li class="category-item"><a href="#">New Releases</a></li>
        <li class="category-item"><a href="#">Partnerships</a></li>
        <li class="category-item"><a href="#">Industry</a></li>
        <li class="category-item"><a href="#">Innovation</a></li>
    </ul>
</section>
<!-- /.filter-tabs -->