<div class="form-success">
  <i class="icon icon-check"></i>

  <p class="form-success-message">We have received your booking request. Someone will be in touch with you within the next 24-48 hours. A confirmation of this request has been sent to:</p>
  <p class="form-success-email"><strong>jsmith@email.com</strong></p>

  <a href="#" class="btn btn-primary ">
    Ok, got it!
</a>

</div>