<div class="jumbotron-wrapper ">
    <div class="jumbotron-carousel">
        <div class="jumbotron-carousel_bg" style="background-image:url('&#x2F;theme&#x2F;images&#x2F;jumbotron&#x2F;profile-commmunity-banner.jpg')">
            <div class="col jumbotron-carousel_container">
                <h1 class="heading">
                    <span class="sub-heading">Community Living</span> Elbow Tower
                </h1>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <p>105 26 Ave. SW, Calgary</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-carousel_bg" style="background-image:url('&#x2F;theme&#x2F;images&#x2F;jumbotron&#x2F;profile-commmunity-banner.jpg')">
            <div class="col jumbotron-carousel_container">
                <h1 class="heading">
                    <span class="sub-heading">Community Living</span> Elbow Tower
                </h1>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <p>105 26 Ave. SW, Calgary</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>