<section class="multi-columns">
  <div class="column-wrapper">
    <div class="search-block" style="background-image: url(http://via.placeholder.com/300x300);">
      <div class="search-block-content">
        <h2 class="secondary-heading ">
          <span class="sub-heading">Setting the Stage</span> For A Life Well Lived
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue viverra porta. Ut sit amet mollis dui.</p>
      </div>
      <!-- /.search-block-content -->
      <form>
        <fieldset>
          <label class="dropdown__label" for="select">
    <select id="select" name="select" class="" >
        <option>Choose City</option>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
    </select>
</label>
          <button class="btn btn-primary">Search</button>

        </fieldset>
      </form>
    </div>
    <!-- /.search-block -->

    <div class="search-block" style="background-image: url(http://via.placeholder.com/300x300);">
      <div class="search-block-content">
        <h2 class="secondary-heading ">
          <span class="sub-heading">Setting the Stage</span> For A Life Well Lived
        </h2>
        <p>Proin nec dui eget lacus mollis cursus. Duis non erat vulputate, euismod diam tempus, aliquet felis. Morbi dignissim, leo in congue pulvinar, nisi ex convallis augue, vel consectetur felis velit vitae diam. Nullam in finibus dolor.</p>
      </div>
      <!-- /.search-block-content -->
      <form>
        <fieldset>
          <label class="dropdown__label" for="select">
    <select id="select" name="select" class="" >
        <option>Choose City</option>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
    </select>
</label>
          <button class="btn btn-primary">Search</button>

        </fieldset>
      </form>
    </div>
    <!-- /.search-block -->

  </div>
</section>
<!--/.multi-columns-->