<section class="related-items">
    <div class="container-fluid-full">


        <div class="related-item bg-darkblue">

            <div class="item-content">

                <h4 class="secondary-heading">
                    <span class="sub-heading">Living</span> Boardwalk Living
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate erat eget magna auctor feugiat.</p>


                <div>
                    <a class="btn btn-primary white" href="&#x2F;living">Experience Living</a>
                </div>

            </div>
            <!-- /.item-content -->
            <img src="http:&#x2F;&#x2F;via.placeholder.com&#x2F;480x480" alt="" title="" />

        </div>
        <!-- /.related-item -->
        <div class="related-item bg-blue">

            <div class="item-content">

                <h4 class="secondary-heading">
                    <span class="sub-heading">Communities</span> Boardwalk Communities
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate erat eget magna auctor feugiat.</p>


                <div>
                    <a class="btn btn-primary white" href="&#x2F;communities">Experience Communities</a>
                </div>

            </div>
            <!-- /.item-content -->
            <img src="http:&#x2F;&#x2F;via.placeholder.com&#x2F;480x480" alt="" title="" />

        </div>
        <!-- /.related-item -->

    </div>
</section>
<!-- /.related-items -->