<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron:vertical-center|jumbotron-medium}} {{> molecules-filter-tabs:filter-tabs-grey}} {{> atoms-heading(heading-text:"Our Stories Landing")}}


  <div class="text-center">
    {{> atoms-primary-button(primary-button-text:"Load More")}}
  </div>

  {{> organisms-footer}}

</div>
<!--/.wrapper-->