<ul class="fa-ul">
  <li>{{> elements-fa-icon:fa-li|fa|fa-check-square}}List icons</li>
  <li>{{> elements-fa-icon:fa-li|fa|fa-check-square}}can be used</li>
  <li>{{> elements-fa-icon:fa-li|fa|fa-spinner|fa-spin}}as bullets</li>
  <li>{{> elements-fa-icon:fa-li|fa|fa-square}}in lists</li>
</ul>