@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}


<section class="multi-columns">
    <div class="container">
        <h2 class="secondary-heading ">
            <span class="sub-heading">Setting the Stage</span> For A Life Well Lived
        </h2>


        <div class="column-wrapper">

            @Html.Partial("~/views/partials/Widget/cta-card.cshtml")

            @Html.Partial("~/views/partials/Widget/cta-card.cshtml")

            @Html.Partial("~/views/partials/Widget/cta-card.cshtml")

        </div>

        <a href="#" class="btn btn-primary blue">
            Experience Lifestyles
        </a>

    </div>
    <!-- /.container -->
</section>
<!--/.multi-columns-->

@Html.Partial("~/views/partials/Widget/half-and-half.cshtml")