@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}


<section class="multi-columns">
    <div class="container">
        <h2 class="secondary-heading ">
            <span class="sub-heading">Setting the Stage</span> For A Life Well Lived
        </h2>


        <div class="column-wrapper">
            <div class="feature-icon">
                <i class="icon icon-heat" title="Heat"></i>
                <span class="feature-text">Heat</span>
            </div>
            <!-- /.feature-icon -->

            <div class="feature-icon">
                <i class="icon icon-water" title="Water"></i>
                <span class="feature-text">Water</span>
            </div>
            <!-- /.feature-icon -->

            <div class="feature-icon">
                <i class="icon icon-dishwasher" title="Dishwasher"></i>
                <span class="feature-text">Dishwasher</span>
            </div>
            <!-- /.feature-icon -->

            <div class="feature-icon">
                <i class="icon icon-fridge" title="fridge"></i>
                <span class="feature-text">fridge</span>
            </div>
            <!-- /.feature-icon -->

            <div class="feature-icon">
                <i class="icon icon-stove" title="Stove"></i>
                <span class="feature-text">Stove</span>
            </div>
            <!-- /.feature-icon -->

            <div class="feature-icon">
                <i class="icon icon-pet" title="Pet friendly"></i>
                <span class="feature-text">Pet friendly</span>
            </div>
            <!-- /.feature-icon -->

            <div class="feature-icon">
                <i class="icon icon-parking" title="Parking"></i>
                <span class="feature-text">Parking</span>
            </div>
            <!-- /.feature-icon -->

        </div>

        <ul class="citation-list">
            <li class="terms-and-conditions"><span class="citation">*</span> one-time $250 non-refundable pet fee.</li>
        </ul>
        <!-- /.citation-list -->
    </div>
    <!-- /.container -->
</section>
<!--/.multi-columns-->


<section class="promotion-block">
    <div class="container">
        <div class="promo-heading">
            <img src="http://via.placeholder.com/150x80" alt="" title="" />
            <p>Telus TV and High Speed Internet is included with a 1 yr lease.</p>
        </div>
        <!-- /.promo-heading -->

        <div class="promo-offerings">
            <h4 class="promo-offerings-title">Everyday Offers</h4>
            <ul>
                <li>$499 Security Deposit</li>
                <li>$299 Security Deposit for Seniors
                <li>5% Veteran's Discount</li>
            </ul>
        </div>
        <!-- /.promo-offerings -->

        <p class="terms-and-conditions">All offers and features are subject to change, and some conditions may apply.</p>
    </div>
    <!-- /.container -->
</section>
<!-- /.promotion-block -->
