@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.OurStoriesLanding>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";
}

@Html.Partial("~/views/partials/jumbotron.cshtml")

<section class="content-wrapper grey-bg">
@Html.Partial("~/views/partials/Structures/filter-tabs.cshtml")

@Html.Partial("~/views/partials/Structures/social-grid.cshtml")

    <div class="text-center mt-5 pb-5">
        <a href="#" class="btn btn-primary ">
            Load More
        </a>
    </div>
</section>
<!-- /.content-wrapper -->
