@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

<  <section class="content-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="mb-10">
                    <a class="back-link blue" href="#">Back To Careers</a>

                </div>
                <div class="columned-content no-top-padding">
                    <div class="container">

                        <h1 class="heading small-heading mb-3">
                            Our Why
                        </h1>


                        <div class="content-wrapper two-columns mb-5">
                            <h3 class="small-heading">eiusmod tempor</h3>
                            <p>
                                At Boardwalk Rental Communities, we believe in providing our Associates with a workplace they can call home; a place where coming to work isn’t a chore. We continually look for new and innovative ways to engage our Associates in their
                                day-to-day work. We are proud to be an equal opportunity employer with a commitment to respecting the dignity and worth of every individual in our organization.
                            </p>

                            <h3 class="small-heading">eiusmod tempor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            </p>

                            <p>
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>

                            <h3 class="small-heading">eiusmod tempor</h3>

                            <p>
                                At Boardwalk Rental Communities, we believe in providing our Associates with a workplace they can call home; a place where coming to work isn’t a chore. We continually look for new and innovative ways to engage our Associates in their
                                day-to-day work. We are proud to be an equal opportunity employer with a commitment to respecting the dignity and worth of every individual in our organization.
                            </p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>

                            <p>
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                        </div>
                        <!-- /.content-wrapper -->

                        <a href="#" class="btn btn-primary ">
                            View Our Stories
                        </a>

                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.columned-content -->

            </div>
        </div>
    </div>
</section>
<!-- /.content-wrapper -->

<section class="content-wrapper grey-bg with-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <h1 class="heading text-left mt-3">
                    Work with Boardwalk
                </h1>

                <p class="mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>

            </div>

            <div class="container">
                <div class="image-carousel carousel " style="max-width:1170px">
                    <div>
                        <img src="http://via.placeholder.com/1170x600" width="1170" height="600" alt="" title="" />
                        <div class="image-caption">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div>
                        <img src="http://via.placeholder.com/1170x600" width="1170" height="600" alt="" title="" />
                        <div class="image-caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div>
                        <img src="http://via.placeholder.com/1170x600" width="1170" height="600" alt="" title="" />
                    </div>
                </div>
                <!-- /.content-carousel -->

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.content-wrapper -->



@Html.Partial("~/views/partials/Structures/tabbed-content.cshtml")
