<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #0072bc;"></span>
    <span class="sg-label">
			$brand-comm-1 <br />
			#0072bc
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000;"></span>
    <span class="sg-label">
			$brand-comm-2 <br />
			#000000
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e53d30;"></span>
    <span class="sg-label">
			$brand-comm-3 <br />
			#e53d30
		</span>
  </li>
</ul>