.community-block-card {
  color: #fff;
  flex-grow: 1;
  margin: .85rem;
  flex-basis: calc(33% - 1.6rem);

  &.black-bg {
    background: #000;
    border-top: 5px solid $red;
  }

  &.blue-bg {
    background: $blue;
    border-top: 5px solid $orange;
  }

  &.dark-blue-bg {
    background: $darkblue;
    border-top: 5px solid $yellow;
  }

  .brand-wrapper {
    padding: 3rem;
    text-align: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(0,0,0,0.4);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }

    svg {
      position: relative;
      z-index: 1;
    }
  }

  .block-content-wrapper {
    padding: 1.5rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .block-heading {
    font-family: $futura;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 .7rem 0;
    font-size: 2.2rem;
  }
}
