.offer-card {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 300px;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  padding-bottom: 4rem;

  .offer-card-notice-bar {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    font-size: .9rem;
    line-height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
  }

  .offer-card-content {
    padding: 1rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
  }

  .offer-text {
    height: 100%;
  }

  .offer-card-title,
  .offer-card-availability,
  .offer-card-price {

    font-family: $futura;
    margin: 0;
  }

  .offer-card-title {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .offer-card-availability {
    border-bottom: 1px solid #ccc;
    font-size: .9rem;
    padding: .5rem 0;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .offer-card-price {
    font-size: 2rem;
  }

  .dollar-sign {
    font-size: 60%;
    vertical-align: .35em;
  }

  sub {
    font-size: 50%;
    bottom: 0;
  }

  .offer-card-quick-features {
    padding: 0;
    margin: 1.5rem 0;

    li {
      display: flex;
      justify-content: space-between;

      & > span {
        display: block;
        white-space: nowrap;
      }
    }

    .quick-feature {

    }

    .dots {
      overflow: hidden;

      &::after {
        display: inline-block;
        color: #ccc;
        content: '.........................................................................................';
      }
    }

    .feature-value {
      font-weight: 700;
    }


  }

  .btn {
    margin: 0;
  }

  .btn,
  .arrow-link {
    width: 100%;
  }

  .arrow-link {
    display: block;
    position: absolute;
    text-align: center;
    margin-top: 1rem;
    font-size: .9rem;
    width: 100%;
    bottom: 1.5rem;
  }

}
