.related-items {
  color: #fff;

  .container {
    padding: 0;
  }

  .related-item {
    display: flex;
    width: 100%;
    align-items: stretch;

    img {
      object-fit: cover;
      margin: 0;
      min-height: 100%;
      max-width: 100%;
      max-height: 320px;
    }

     &.darkblue {
       background: $darkblue;
     }

     &.blue {
       background: $blue;
     }

     &.black {
       background: #000;
     }
  }

  .item-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .related-title {
    font-family: $futura;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .related-subtitle {
    font-family: $futura;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.3rem;
  }


  // for the full screen version
  .container-fluid-full {
    .related-title {
      font-size: 2.8rem;
    }
    .related-subtitle {
      font-size: 2.1rem;
    }
    img {
      max-height: 480px;
    }
  }

    @include if-min-width($XM) {

      .container-fluid-full, .container {
        display: flex;
      }

      /* one item */

      .related-item:first-child:nth-last-child(1) {
        img,
        .item-content {
          width: auto;
        }
      }
      /* two items */

      .related-item:first-child:nth-last-child(2),
      .related-item:first-child:nth-last-child(2)~.related-item {
        img,
        .item-content {
          width: 50%;
        }
      }

    }

}
