<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-medium}}

    <div class="container-fluid bg-darkblue">
        <div class="row">
            <div class="col-md-12">
                {{>organisms-icon-navigation:icon-navigation|d-flex|flex-row|justify-content-between|align-items-start|flex-wrap|white}}
            </div>
        </div> <!--/.row-->
    </div>

    <main>

        <section class="multi-columns">

            <div class="container">

                <h2 class="secondary-heading">
                    Corporate Directory
                </h2>

                <ul class="ul-executive-team clearfix">

                    <li class="investor" style="height: 241px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">James Ha</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Investor Relations</span>

							</p>

							<p class="executive-phone">
                                        
								Direct:<a href="tel://403-206-6739"> <span class="Culture-Phone" itemprop="telephone">403-206-6739</span></a><br>
								Toll-Free :<a href="tel://1-855-626-6739"> <span class="Culture-Phone" itemprop="telephone">855-626-6739</span></a><br> 
								Fax:<a href="tel://403-298-3980"> <span class="Culture-Phone" itemprop="telephone">403-298-3980 </span></a>
							
							</p> 

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="jha" data-subject="Website Inquiry">James Ha</a>

							</p>

                        </article>

                    </li>
                    <li class="investor" style="height: 241px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">David McIlveen</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Media Relations</span>

							</p>

							<p class="executive-phone">
                                        
								Direct:<a href="tel://403-206-6878"> <span class="Culture-Phone" itemprop="telephone">403-206-6878</span></a><br> 
								Fax:<a href="tel://403-298-3941"> <span class="Culture-Phone" itemprop="telephone">403-298-3941</span></a><br><br>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="DMcIlveen" data-subject="Website Inquiry">David McIlveen</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 189px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Dean Burns</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">General Counsel &amp; Corporate Secretary</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6787"> <span class="Culture-Phone" itemprop="telephone">403-206-6787</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="dean" data-subject="Website Inquiry">Dean Burns</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 189px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Helen Mix</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Vice President, Human Resources</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6778"> <span class="Culture-Phone" itemprop="telephone">403-206-6778</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="helen" data-subject="Website Inquiry">Helen Mix</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 189px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Jonathan Brimmell</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Vice President Operations, Ontario &amp; Quebec</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://519-953-5111"> <span class="Culture-Phone" itemprop="telephone">519-953-5111</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="jbrimmell" data-subject="Website Inquiry">Jonathan Brimmell</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 189px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Kelly Mahajan</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Vice President, Marketing &amp; Customer Service</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6888"> <span class="Culture-Phone" itemprop="telephone">403-206-6888</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="kelly" data-subject="Website Inquiry">Kelly Mahajan</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 189px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Lisa Russell</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Senior Vice President, Corporate Development</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6770"> <span class="Culture-Phone" itemprop="telephone">403-206-6770</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="lisa" data-subject="Website Inquiry">Lisa Russell</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 189px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Roberto Geremia</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">President</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6767"> <span class="Culture-Phone" itemprop="telephone">403-206-6767</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="rob" data-subject="Website Inquiry">Roberto Geremia</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 213px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Sam Kolias</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Chief Executive Officer and Chairman of the Board</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6789"> <span class="Culture-Phone" itemprop="telephone">403-206-6789</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="sam" data-subject="Website Inquiry">Sam Kolias</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 213px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">Van Kolias</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Senior Vice President, Quality Control</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6775"> <span class="Culture-Phone" itemprop="telephone">403-206-6775</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="van" data-subject="Website Inquiry">Van Kolias</a>

							</p>

                        </article>

                    </li>
                    <li style="height: 189px;">

                        <article itemscope="" itemtype="http://schema.org/Person">

							<h4>
                                        
								<span itemprop="name">William Wong</span>

							</h4>

							<p class="executive-title">
                                        
								<span itemprop="jobTitle">Chief Financial Officer</span>

							</p>

							<p class="executive-phone">
                                        
								<a href="tel://403-206-6885"> <span class="Culture-Phone" itemprop="telephone">403-206-6885</span></a>

							</p>

							<p class="executive-email">
                                        
								<a href="#" class="EmailLink" data-recipients="wwong" data-subject="Website Inquiry">William Wong</a>

							</p>

                        </article>

                    </li>

                </ul>


            </div><!-- /.container -->

        </section> <!--/.multi-columns-->

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->
