<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-medium}}

    <div class="container-fluid bg-darkblue">
        <div class="row">
            <div class="col-md-12">
                {{>organisms-icon-navigation:icon-navigation|d-flex|flex-row|justify-content-between|align-items-start|flex-wrap|white}}
            </div>
        </div> <!--/.row-->
    </div>

    <main>

        <section class="multi-columns">

            <div class="container">

                <h2 class="secondary-heading">
                    Statements
                </h2>

				<ul class="IncomeTax large-block-grid-2">

					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/265" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/265" target="_blank">

									2016<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/30" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/30" target="_blank">

									2015<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/29" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/29" target="_blank">

									2014<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/28" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/28" target="_blank">

									2013<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/27" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/27" target="_blank">

									2012<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/26" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/26" target="_blank">

									2011<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/25" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/25" target="_blank">

									2010<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/24" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/24" target="_blank">

									2009<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/23" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/23" target="_blank">

									2008<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/22" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/22" target="_blank">

									2007<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/21" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/21" target="_blank">

									2006<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/20" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/20" target="_blank">

									2005<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>
					<li>

						<ul class="small-block-grid-2 FileList">

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/19" target="_blank">

									<img src="/Content/Images/Investors/document-icon_org.png" alt="document-icon">

								</a>

							</li>

							<li>

								<a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/19" target="_blank">

									2004<br><em>Statement of Trust Income Allocations and Designations</em>

								</a>

							</li>

						</ul>

					</li>

                </ul>

                <h2 class="secondary-heading">
                    Income Tax Information
                </h2>

				<p>The Declaration of Trust of Boardwalk Real Estate Investment Trust (“Boardwalk REIT”) provides that income and net taxable capital gains for purposes of the Tax Act will be allocated to Unitholders in the same proportion as distributions received by Unitholders.</p>
				<p>Distributions may consist of the following for income tax purposes: </p>
				<ul class="bw-list-02 IncomeTax">
					<li>
						Distributions that are currently taxable, for which T3 supplementaries will be issued 
						(to be shown as Box 26 of your T3 slip). This portion of distributions for income tax 
						purposes will be treated as regular taxable income (and not treated as dividends or capital 
						gains) to each Unitholder.</li><li>Distributions that are treated as a dividend received 
						from a Canadian corporation. As such, it will be subject to a preferential tax treatment 
						that all dividends from Canadian corporations receive (subject to the dividend tax credit).
					</li>
					<li>
						Distributions (to be shown in Box 21 of your T3 slip) that represent your portion of capital gains allocated to you relating to gain on the sale of a property in the year, if any.
						<p>Please note that of the portion reported as capital gains on your tax return, only 50% 
						of this is included in the calculation of your taxable income. The non-taxable portion of 
						the capital gain is not deducted from the adjusted cost base of your Units.</p>
					</li>
					<li>
						Distributions that are not currently taxable and will be treated for income tax purposes 
						as a return of capital.distributions that are not currently taxable and will be treated for 
						income tax purposes as a return of capital.
						<p>Accordingly, this currently non-taxable portion will reduce the adjusted cost base of the 
						Units owned by each Unitholder. If, after deducting he return of capital portion, your adjusted 
						cost base of your Units is a positive amount, no portion of the return of capital will be taxable.
						If, however, after deducting the return of capital, your adjusted cost base of your Units is a 
						negative amount, you will realize a capital gain equal to the negative amount and your resultant 
						adjusted cost base of your Units will be nil.</p>
					</li>
				</ul>
				<p>Unitholders should consult their tax advisors with respect to any questions they may have concerning tax matters.</p>

            </div><!-- /.container -->

        </section> <!--/.multi-columns-->

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->
