<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-medium}}

    <div class="container-fluid bg-darkblue">
        <div class="row">
            <div class="col-md-12">
                {{>organisms-icon-navigation:icon-navigation|d-flex|flex-row|justify-content-between|align-items-start|flex-wrap|white}}
            </div>
        </div> <!--/.row-->
    </div>

    <main>

        <section class="multi-columns">

            <div class="container">

                <div class="column-wrapper">

                    <div class="excerpt-card">

                        <div class="excerpt-card-text">

                            <h3 class="excerpt-card-title">Corporate Governanc</h3>

                            <p>
                                The governance of our Trust is based on our guiding principles and the mandate of our Board of Trustees.
                                These principles and values transcend through all Boardwalk Associates through their daily professional
                                conduct. Boardwalk has clear policies in relation to corporate responsibility, including corporate governance
                                and ethics, employee relations, audit and risk management.
                             </p>
                             <p>
                                <a href="//www.bwalk.com/en-CA/About/Mission" target="_blank">Our Mission, Vision and Values</a>
                                as well as <a href="//www.bwalk.com/Content/Investors/BREIT-BusinessConduct.pdf" target="_blank">
                                our Code of Conduct</a> provide a framework for our Trustees and Associates when dealing with complex
                                and sensitive issues that may arise in the normal course of business. These standards also serve to
                                provide accountability to those who do not adhere to these values and standards.
                             </p>
                             <p>
                                As a Trust listed on the <a href="http://tse.com/HttpController?GetPage=QuotesViewPage&amp;DetailedView=DetailedPrices&amp;Language=en&amp;QuoteSymbol_1=BEI.UN" target="_blank">Toronto Stock Exchange (TSX)</a>,
                                Boardwalk either meets or exceeds the guidelines set-out by the TSX regarding effective corporate governance.
                                A detailed description of our corporate governance practices, as well as the disclosure required by the TSX,
                                can be found in our <a href="./GetLatestAIF/" target="_blank">Annual Information Form (AIF)</a> filed on
                                <a href="http://www.sedar.com/DisplayProfile.do?lang=EN&amp;issuerType=03&amp;issuerNo=00020684" target="_blank">SEDAR</a>
                                in connection with our annual filing requirements.
                              </p>

                            <ul>

                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/12" target="_blank">Members of the Board of Trustees</a>

                                    </strong>
                                </li>
                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/13" target="_blank">Statement of Corporate Governance Practices</a>

                                    </strong>
                                </li>
                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/14" target="_blank">Committees and Charters</a>

                                    </strong>
                                </li>
                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/15" target="_blank">Policy On Corporate Disclosure And Confidentiality Of Information</a>

                                    </strong>
                                </li>
                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/16" target="_blank">Code of Business Conduct</a>

                                    </strong>
                                </li>
                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/17" target="_blank">Corporate Governance Manual</a>

                                    </strong>
                                </li>
                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/18" target="_blank">Audit Committee Charter</a>

                                    </strong>
                                </li>
                                <li>
                                    <strong>

                                            <a href="//www.bwalk.com/en-CA/Investors/GetInvestorDocument/275" target="_blank">Declaration of Trust</a>

                                    </strong>
                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

                <div class="column-wrapper">

                    <div class="excerpt-card">

                        <div class="excerpt-card-text">

                            <h3 class="excerpt-card-title">Analyst Coverage</h3>

                            <ul class="small-block-grid-2 large-block-grid-3">

                                <li>

                                    <strong>

                                        BMO Nesbitt Burns

                                    </strong><br>

                                    Heather Kirk <span class="Culture-Phone">416-359-4030</span>

                                </li>
                                <li>

                                    <strong>

                                        Canaccord Genuity

                                    </strong><br>

                                    Mark Rothschild <span class="Culture-Phone">416-869-7280</span>

                                </li>
                                <li>

                                    <strong>

                                        CIBC World Markets

                                    </strong><br>

                                    Dean Wilkinson <span class="Culture-Phone">416-594-7194</span>

                                </li>
                                <li>

                                    <strong>

                                        Desjardins Capital Markets

                                    </strong><br>

                                    Michael Markidis <span class="Culture-Phone">416-607-3028</span>

                                </li>
                                <li>

                                    <strong>

                                        Dundee Securities

                                    </strong><br>

                                    Frederic Blondeau <span class="Culture-Phone">514-396-0309</span>

                                </li>
                                <li>

                                    <strong>

                                        GMP Securities

                                    </strong><br>

                                    Jimmy Shan <span class="Culture-Phone">416-943-6148</span>

                                </li>
                                <li>

                                    <strong>

                                        National Bank Financial

                                    </strong><br>

                                    Matt Kornack <span class="Culture-Phone">416-507-8104</span>

                                </li>
                                <li>

                                    <strong>

                                        Raymond James

                                    </strong><br>

                                    Ken Avalos <span class="Culture-Phone">416-777-7086</span>

                                </li>
                                <li>

                                    <strong>

                                        RBC Dominion Securities

                                    </strong><br>

                                    Neil Downey <span class="Culture-Phone">416-842-7835</span>

                                </li>
                                <li>

                                    <strong>

                                        Scotia Capital

                                    </strong><br>

                                    Mario Saric <span class="Culture-Phone">416-863-7824</span>

                                </li>
                                <li>

                                    <strong>

                                        TD Securities

                                    </strong><br>

                                    Jonathan Kelcher <span class="Culture-Phone">416-307-9931</span>

                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

                <div class="column-wrapper">

                    <div class="excerpt-card">

                        <div class="excerpt-card-text">

                            <h3 class="excerpt-card-title">Boardwalk Real Estate Investment Trust</h3>

                            <p><strong style="font: normal 14px/16px Frutiger LT W01 65 Bold, Verdana, Arial, sans-serif;">Boardwalk REIT</strong> strives to provide Canada’s friendliest communities and currently owns and operates more than 200 communities with over 33,000 residential units totaling over 28 million net rentable square feet. Boardwalk’s principal objectives are to provide its Residents with the best quality communities and superior customer service, while providing Unitholders with sustainable monthly cash distributions, and increase the value of its Trust Units through selective acquisitions, dispositions, development, and effective management of its residential multi-family communities. Boardwalk REIT is vertically integrated and is Canada’s leading owner/operator of multi-family communities with 1,700 Associates bringing Residents home to properties located in Alberta, Saskatchewan, Ontario, and Quebec.</p>

                        </div>

                    </div>

                </div>

                <div class="column-wrapper">

                    <div class="excerpt-card">

                        <div class="excerpt-card-text">

                            <h3 class="excerpt-card-title">Q3 - 2017 Statistics</h3>

                            <ul class="small-block-grid-1" style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                <li style="font: bold 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    Business Sector:

                                </li>

                                <li style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    Multi-family Residential Real Estate

                                </li>

                                <hr>

                                <li style="font: bold 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    TSX Symbol:

                                </li>

                                <li style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    BEI.UN

                                </li>

                                <hr>

                                <li style="font: bold 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    Closing Price:

                                </li>

                                <li style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    $38.01

                                </li>

                                <hr>

                                <li style="font: bold 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    Trust Units Outstanding<br>(Period End):

                                </li>

                                <li style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    50.8 Million

                                </li>

                                <hr>

                                <li style="font: bold 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    Total Fair Value:

                                </li>

                                <li style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    $5.8 Billion

                                </li>

                                <hr>

                                <li style="font: bold 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    Total Debt:

                                </li>

                                <li style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    $2.7 Billion

                                </li>

                                <hr>

                                <li style="font: bold 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    Total Debt (Net of Cash)<br> / Fair Value:

                                </li>

                                <li style="font: normal 14px/18px FrutigerLTW01-55Roman, Verdana, Arial, sans-serif;">

                                    44%

                                </li>

                            </ul>

                            <p align="center"><small>As of September 30, 2017</small></p>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </main>

    {{> organisms-footer}}

</div> <!--/.wrapper-->
