<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron}} {{> molecules-brand-bar}}

  <div class="bg-black" style="padding-bottom: 8rem; margin-bottom: 8rem;">
    {{> organisms-multiple-property-cards}} {{> organisms-property-search-block}}
  </div>


  {{> organisms-multiple-brand-cards}} {{> molecules-image-carousel}} {{> molecules-related-items}} {{> organisms-footer}}

</div>
<!--/.wrapper-->