<span class="fa-stack fa-lg">
{{> elements-fa-icon:fa-square-o|fa-stack-2x}}
{{> elements-fa-icon:fa-twitter|fa-stack-1x}}
</span>
fa-twitter on fa-square-o<br>
<span class="fa-stack fa-lg">
{{> elements-fa-icon:fa-circle|fa-stack-2x}}
{{> elements-fa-icon:fa-flag|fa-stack-1x|fa-inverse}}
</span>
fa-flag w/fa-inverse on fa-circle<br>
<span class="fa-stack fa-lg">
{{> elements-fa-icon:fa-square|fa-stack-2x}}
{{> elements-fa-icon:fa-terminal|fa-stack-1x|fa-inverse}}
</span>
fa-terminal w/fa-inverse on fa-square<br>

<span class="fa-stack fa-lg">
{{> elements-fa-icon:fa-camera|fa-stack-1x}}
{{> elements-fa-icon:fa-ban|fa-stack-2x|text-danger}}
</span>
fa-ban w/text-danger on fa-camera

