<section id="Incentives" class="container-fluid bg-bwalkDkBlue" style=" min-height: 300px">

    <div class="container">
        
        


    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div>
                                
<h3>Every Day Offers</h3>
<ul>
<li>$699 Security Deposit</li>
<li>$299 Security Deposit for Seniors</li>
<li>5% Veteran's Discount<br><br><br></li>
</ul>


                </div>
            </div>            <div class="col-md-6 column">
                <div>
                                
<h3>Offer Ends Soon!</h3>


                                    
        <script src="/App_Plugins/Boardwalk.ProjectSuiteIncentives/Scripts/ProjectSuiteIncentives.js"></script>

<script>

    $(function () {

        ProjectSuiteIncentives('5b', 393, 0)

    });

</script>

<div id="ProjectSuiteIncentives-5b" class="ProjectSuiteIncentives-Container">

    

    

<div class="ProjectSuiteIncentives-Header">1 Bedroom</div><ul class="ProjectSuiteIncentives-List"><li>Save up to 1 month free rent on select 12 month leases! Call today!</li><li>Save up to 2 months free rent on select 12 month leases! Call today!</li></ul><div class="ProjectSuiteIncentives-Header">2 Bedroom</div><ul class="ProjectSuiteIncentives-List"><li>Save up to 1 month free rent on select 12 month leases! Call today!</li><li>Save up to 2 months free rent on select 12 month leases! Call today!</li></ul></div>
    


                </div>
            </div>        </div>
    </div>
    <div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                                
<p>&nbsp;</p>
<p><sub>*All square footage is estimated and includes balcony space where applicable</sub><br><sub>*Information posted, including suite availability, rental rate&nbsp;</sub><sub>and incentives are subject to change without notice. Current Residents can contact the Customer Service Representative to discuss lease renewal options. Suites and floor plans may not be as shown. Some conditions apply. Rental rates listed are net and include current incentives when applicable.</sub></p>


                </div>
            </div>        </div>
    </div>
                </div>
    </div>




    </div>

</section>