<section id="AuburnLake" class="container-fluid bg-bwalkBlue" style=" min-height: 300px">

    <div class="container">
        
        


    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                                
<h2 style="text-align: center;">Auburn Lake Access</h2>
<p style="text-align: center;"><span>Residents of Auburn Landing get exclusive access to Auburn Bay Lake and Auburn House Facilities. </span></p>
<p style="text-align: center;"><span>The lake is 43-acres with a waterfall and creek, tennis and volleyball courts, basketball, picnic areas, water park &amp; boat rentals. </span></p>
<p style="text-align: center;"><span>You’ll also never miss out on the year-round events for the entire family. Learn more from the <a href="http://auburnbay-connect.com/events/">community newsletter.</a></span></p>
<p style="text-align: center;">&nbsp;</p>


                </div>
            </div>        </div>
    </div>
    <div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <div>
                                
<p><img id="__mcenew" style="display: block; margin-left: auto; margin-right: auto;" src="https://auburnlanding.bwalk.com/media/1056/wistock-477356824.jpg" alt="" width="100%" rel="1135" data-id="1135"></p>


                </div>
            </div>            <div class="col-md-4 column">
                <div>
                                
<p><img id="__mcenew" style="display: block; margin-left: auto; margin-right: auto;" src="https://auburnlanding.bwalk.com/media/1058/wistock-502282970.jpg" alt="Skating" width="100%" rel="1137" data-id="1137"></p>


                </div>
            </div>            <div class="col-md-4 column">
                <div>
                                
<p><img id="__mcenew" style="display: block; margin-left: auto; margin-right: auto;" src="https://auburnlanding.bwalk.com/media/1057/wistock-496311294.jpg" alt="Running" width="100%" rel="1136" data-id="1136"></p>


                </div>
            </div>        </div>
    </div>
                </div>
    </div>




    </div>

</section>