<header id="header" class="container-fluid {{#background-color}}header-{{background-color}}{{/background-color}}">
  <div class="d-flex flex-row justify-content-between align-items-end">
    <div class="p-2 logo">
      {{> atoms-logo:header-logo }}
    </div>
    <div class="p-2">
      <ul id="main-navigation" class="d-flex flex-row justify-content-center align-items-baseline">
        <li class="p-2 m-nav-find"><a href="#">Find Your Home</a></li>
        <li class="p-2 m-nav-experience"><a href="#">Experience Boardwalk</a></li>
        <li class="p-2 m-nav-stories"><a href="#">Our Stories</a></li>
        <li class="p-2 m-nav-careers"><a href="#">Careers</a></li>
        <li class="p-2 m-nav-investors"><a href="#">Investors</a></li>
        <li class="p-2 m-nav-contact"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="p-2">
      <ul id="utility-navigation" class="d-flex flex-row justify-content-end align-items-baseline">
        <li class="p-2 u-nav-login">{{>atoms-login-link}}</li>
        <li class="p-2 u-nav-lang"><a href="#">FR</a></li>
        <li class="p-2 u-nav-search"><a href="#"><i class="icon-search"></i></a></li>
      </ul>
    </div>
    <div class="p2 align-items-center mobile-nav-toggle">
      {{> atoms-hamburger}}
    </div>
  </div>
</header>