<address itemprop="address" itemtype="http://schema.org/PostalAddress">
    <h2>
      <span itemprop="name">{{companyname}}</span>
    </h4>
    <meta itemprop="streetAddress" content="{{streetaddress}}">{{streetaddress}}<br>
    <meta itemprop="addressLocality" content="{{addresslocality}}">{{addresslocality}} <br>
    <meta itemprop="postalCode" content="{{postalcode}}">{{postalcode}}<br>
    <a title="Boardwalk's Phone Number" itemprop="telephone" href="tel://1-{{telephone}}">{{telephone}}</a>
</address>