<h1>h1 {{ heading }}</h1>
<h2>h2 {{ heading }}</h2>
<h3>h3 {{ heading }}</h3>  
<h4>h4 {{ heading }}</h4>
<h5>h5 {{ heading }}</h5> 
<h6>h6 {{ heading }}</h6>

<h1>h1 {{ heading }} <small>{{ subheading }}</small></h1>
<h2>h2{{ heading }} <small>{{ subheading }}</small></h2>
<h3>h3 {{ heading }} <small>{{ subheading }}</small></h3>
<h4>h4 {{ heading }} <small>{{ subheading }}</small></h4>
<h5>h5 {{ heading }} <small>{{ subheading }}</small></h5>
<h6>h6 {{ heading }} <small>{{ subheading }}</small></h6>