<address itemscope="" itemtype="http://schema.org/Person">
    <h4>
      <span itemprop="name">{{firstname}} {{lastname}}</span>
        <small itemprop="jobTitle">{{jobtitle}}</small>
    </h4>
      
    <span>
      Direct:<a href="tel://{{telephone}}"> <span class="Culture-Phone" itemprop="telephone">{{telephone}}</span></a><br>
      Toll-Free :<a href="tel://1-855-626-6739"> <span class="Culture-Phone" itemprop="telephone">123-456-7890</span></a><br> 
      Fax:<a href="tel://403-298-3980"> <span class="Culture-Phone" itemprop="telephone">123-456-7890</span></a><br>
      <a href="#" class="EmailLink" data-recipients="jha" data-subject="Website Inquiry">firstname@email.com</a>
    </span>
</address>