<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #005EB8"></span>
		<span class="sg-label">
			<label>@brand-primary</label><br>
			 #005EB8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5CB85C"></span>
		<span class="sg-label">
			<label>@brand-success</label><br>
			#5CB85C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5bc0de"></span>
		<span class="sg-label">
			<label>@brand-info</label><br>
			#5BC0DE
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f0AD4E"></span>
		<span class="sg-label">
			<label>@brand-warning</label><br>
			#F0AD4E
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D9534F"></span>
		<span class="sg-label">
			<label>@brand-danger</label><br>
			#D9534F
		</span>
	</li>	
</ul>