.brand-cards {
  margin-bottom: 6rem;
}

.brand-card {
  color: $white;
  border-right: 1px solid $lightgrey;
  max-width: 390px;
  background: $black;
  margin: 0 1rem;

  & + .brand-card {
    margin-top: 1rem;
  }

  &:last-of-type {
    border-right: 0;
  }

  img {
    margin: 0;
    display: block;
  }

  &-text {
    padding: 30px;
    font-family: $futura;
  }

  h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  @include if-min-width($M) {
    margin: 0;

    &+.brand-card {
      margin-top: 0;
    }

  }
}
