.form-success {
  padding: 3rem;
  text-align: center;

  .icon {
    border: 2px solid #60c03a;
    color: #60c03a;
    border-radius: 50%;
    padding: .2em;
    font-size: 3rem;
    margin-bottom: 2rem;
    display: inline-block;
  }

  .form-success-email {
    margin-bottom: 2rem;
  }
}
