.hp-stories-blocks {

  .video-modal {
    display: block;
    position: relative;
    width: 100%;

    &::after {
      font-family: 'icomoon' !important;
      content: '\f01d';
      color: #fff;
      display: block;
      position: absolute;
      font-size: 5rem;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }
  }

  picture {
    display: block;
    width: 100%;
  }

  img {
    margin: 0;
    object-fit: cover;
    object-position: center;
    min-height: 410px;
    width: 100%;
    max-width: none;
  }

  .stories-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;

    .btn {
      margin-bottom: 0;
      margin-top: 1.5rem;
    }
  }

  .stories-block:first-child {
    background: #0072bc;
    color: #fff;
    padding: 1.5rem;
  }

  .stories-block:nth-child(3),
  .stories-block:last-child {
    display: none;
  }

  @include if-min-width($S) {
    display: flex;
  }

  @include if-min-width($M) {
    .stories-block:nth-child(3) {
      display: block;
    }
  }

  @include if-min-width($L) {
    margin-left: 6rem;

    .stories-block:last-child {
      display: block;
    }
  }
}