<div class="excerpt-card">
    <div class="excerpt-card-text">
        <h3 class="excerpt-card-subtitle">Sub heading</h3>
        <h4 class="excerpt-card-title">Dec 11, 2017</h4>
        <p>Boardwalk REIT announces third quarter financial results lorem ipsum dolor amet sit elut </p>
    </div>
    <!-- /.excerpt-card-text -->

    <a class="arrow-link blue" href="#">Learn More</a>

</div>
<!-- /.excerpt-card -->
