    <header id="header" class="container-fluid">
      <div class="d-flex flex-row justify-content-between align-items-end">
          <div class="p-2 logo">
              <img src="&#x2F;theme&#x2F;images&#x2F;logo-boardwalk.png" class="img-fluid header-logo" alt="&#x2F;theme&#x2F;images&#x2F;logo-boardwalk.png"/>
          </div>
        <div class="p-2">
             @Html.Partial("~/views/partials/navigation/main-navigation.cshtml")
        </div>
        <div class="p-2">
            @Html.Partial("~/views/partials/navigation/utility-navigation.cshtml")
        </div>
        <div class="p2 align-items-center mobile-nav-toggle">
          <a href="#"><i class="icon-bars"></i></a>

        </div>
      </div>
    </header>