<!DOCTYPE html>
<html class="{{ htmlClass }}">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />

        <!-- Fonts : Allura and Source Sans Pro & Typekit for Futura PT-->
        <link href="https://fonts.googleapis.com/css?family=Allura|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/cor8wkk.css">

        <!-- Boardwalk  -->
        <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
        <link rel="stylesheet" href="/theme/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="/theme/vendor/icomoon/style.css">
        <link rel="stylesheet" href="/theme/css/style.css?{{ cacheBuster }}" media="all" />


        <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
        <link rel="stylesheet" href="/theme/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
        {{{ patternLabHead }}}
        <!-- End Pattern Lab -->

    </head>
    <body class="{{ bodyClass }}">
