
    <!--DO NOT REMOVE-->
    {{{ patternLabFoot }}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBntC0Lhs3eQ5K9qnkvCqLzOU3YKv4QS4s&callback=initMap"></script>
    <script src="/theme/js/jquery-ui.min.js"></script>
    <script src="/theme/js/bootstrap.min.js"></script>
    <script src="/theme/js/bootstrap-select.min.js"></script>
    <script src="/theme/js/magnific-popup.js"></script>
    <script src="/theme/js/slick.js"></script>
    <script src="/theme/js/boardwalk.js"></script>
</body>
</html>
