<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header(background-color:"blue")}} {{> molecules-jumbotron:vertical-center|jumbotron-small|bg-white|black}} {{> organisms-multiple-community-blocks:bg-white}} {{> organisms-feature-community}} {{> molecules-half-and-half:bg-blue|text-center|white}}
  {{> molecules-half-and-half:half-and-half-reversed|bg-darkblue|text-center|white}} {{> organisms-footer}}

</div>
<!--/.wrapper-->