<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header(background-color:"blue")}} {{> molecules-jumbotron:vertical-center|jumbotron-medium|bg-white|black}}

  <main>
    {{> organisms-property-filters}} {{> organisms-multiple-search-blocks}}
  </main>

  {{> organisms-footer}}

</div>
<!--/.wrapper-->