<div class="brand-bar brand-bar-details">

  {{#brandBarDetails.third-color}}
  <a class="back-btn bg-{{brandBarDetails.first-color}}" href="#">
    {{#brandBarDetails.view-map-button}}
        <p>Centre Pointe West
        <span>1313 13 Ave. SW, Calgary</span>
        </p>
    {{/brandBarDetails.view-map-button}}
  </a>
  {{/brandBarDetails.third-color}}

  <div class="brand-bar-logo bg-{{brandBarDetails.third-color}}">
    {{#brandBarDetails.communities}}
      {{> atoms-property-logo-communities-simple }}
    {{/brandBarDetails.communities}}
    {{#brandBarDetails.lifestyle}}
      {{> atoms-property-logo-lifestyle-simple }}
    {{/brandBarDetails.lifestyle}}
    {{#brandBarDetails.living}}
      {{> atoms-property-logo-living-simple }}
    {{/brandBarDetails.living}}
  </div><!-- /.brand-bar-logo -->
</div><!-- /.brand-bar -->
