<div class="brand-card">
    <img src="{{ brandCard.image }}" alt=""/>
    <div class="brand-card-text {{ styleModifier }}">
        <h4>{{ brandCard.title }}</h4>
        <p>{{ brandCard.copy }}</p>
    </div>
</div>