<div id="browser-unsupported" class="ie-10">
    <div class="wrapper">
        <h2>Your Browser Is No Longer Supported</h2>
        <p>To get the best experience with <a href="https://www.bwalk.com">www.bwalk.com</a>, we suggest using a newer version of Internet Explorer/Edge, or using another supported browser such as Google Chrome.</p>
    </div>
</div>
<!--[if lte IE 9]>
<div id="browser-unsupported">
    <div class="wrapper">
        <h2>Your browser is no longer supported</h2>
        <p>To get the best experience with <a href="https://www.bwalk.com">www.bwalk.com</a>, we suggest using a newer version of Internet Explorer/Edge, or using another supported browser such as Google Chrome.</p>
    </div>
</div>
<![endif]-->
