<section class="centred-cta">
    <div class="container">
        {{> atoms-heading-subheading:small-heading }}
        <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        {{> atoms-primary-button }}
    </div>
</section><!-- /.centred-cta -->