<div class="form-success">
  <i class="icon icon-check"></i>

  <p class="form-success-message">{{ formSuccess.message }}</p>
  <p class="form-success-email"><strong>{{ formSuccess.email }}</strong></p>

  {{> atoms-primary-button(primary-button-text:"Ok, got it!")}}
</div>
