<div class="gallery-carousel carousel {{ styleModifier }}" style="max-width:{{ gallery-carousel.max-width }}">
    {{# listItems.three}}
        {{> atoms-gallery-slide}}
    {{/ listItems.three}}
</div><!-- /.content-carousel -->
