<div class="hp-promo">
    <div class="promo-content">
        <h2 class="promo-title">Lorem Ipsum Promo 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque ultricies tellus.</p>
        {{> atoms-arrow-link(arrow-link-url: "#", arrow-link-text: "Learn More") }}
    </div><!-- /.promo-content -->
</div><!-- /.hp-promo -->
