<div class="image-carousel carousel {{ styleModifier }}" style="max-width:{{ image-carousel.max-width }}">
    {{# listItems.three}}
        {{> atoms-image-slide}}
    {{/ listItems.three}}
</div><!-- /.content-carousel -->
