<div class="jumbotron-wrapper {{ styleModifier }}">
    <div class="jumbotron-carousel">
        {{# listItems.two}}
            {{> atoms-jumbotron-slide}}
        {{/ listItems.two}}
    </div>
</div>
