<section class="map-holder {{ styleModifier }}">
  <div id="map-frame"></div><!-- /#map-frame -->
  <ul class="map-legend">
    <li class="lifestyle-marker">Boardwalk Lifestyle</li>
    <li class="communities-marker">Boardwalk Community</li>
    <li class="living-marker">Boardwalk Living</li>
  </ul><!-- /.map-legend -->
</section><!-- /.map-holder -->
