<div class="property-card">
    <div class="property-card-img" style="background: url({{ propertyCard.background-image }}) center no-repeat; background-size: cover">
        <div class="property-card-img-flag">
            <img src="{{ propertyCard.flag-image }}" alt=""/>
        </div>
    </div>
    <div class="property-card-text">
        <h4>{{ propertyCard.title }}</h4>
        <p>{{ propertyCard.street }}</p>
        <p>{{ propertyCard.city }}, {{ propertyCard.province }}</p>
    </div>
</div>