<section class="tabbed-content-wrapper {{styleModifier}}">
  <div class="container">
    <div class="filter-tabs">
      <h3 class="filter-heading">Boardwalk Stories</h3>
      <ul class="filter-categories nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item category-item">
          <a class="active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lorem ipsum dolor</a>
        </li>
        <li class="nav-item category-item">
          <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">consectetur</a>
        </li>
        <li class="nav-item category-item">
          <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">reprehenderit in</a>
        </li>
      </ul>
    </div><!-- /.filter-tabs -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p>Aliquam eget pretium augue. Nam sollicitudin ipsum velit, vel consectetur dui iaculis quis. In hac habitasse platea dictumst. Pellentesque euismod enim vitae justo posuere pellentesque. Praesent gravida arcu odio, non euismod nunc feugiat quis. Donec egestas lorem urna, cursus pretium quam vulputate malesuada. Nulla pretium, tortor nec egestas cursus, quam nunc sollicitudin sapien, et varius quam dui vel sapien. Nam scelerisque varius felis, id pretium risus iaculis sed. Maecenas varius porttitor tortor, eget feugiat justo. Morbi at dapibus lacus. Donec viverra massa vitae augue efficitur, eu consequat dolor aliquam. In eu tellus accumsan, congue ante vel, vulputate risus. Ut cursus ipsum lectus, at euismod metus mattis sed. Nulla non lectus quis elit scelerisque maximus sit amet in urna.</p>

        <p>Suspendisse ut nulla sagittis, gravida risus vitae, condimentum lectus. Quisque magna magna, placerat id gravida ut, varius interdum neque. Duis nec facilisis nibh. Quisque et massa in risus tempus pellentesque quis vel magna. Suspendisse ultrices lacus nec justo imperdiet molestie. Phasellus a neque non nisl feugiat tempus. Donec tempor ac orci eleifend semper. Aenean in diam malesuada, aliquet massa ac, pharetra risus. Aenean et cursus ex, lacinia laoreet sem. Aliquam pulvinar, elit et luctus volutpat, eros ante placerat elit, vel pharetra arcu mauris sed tellus. Phasellus nec elementum erat. Nulla rhoncus lorem ut dapibus semper.</p>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius dictum tincidunt. Sed vel tortor finibus, eleifend nisl ut, vestibulum lectus. Ut consequat luctus scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut posuere congue eros, vitae luctus tortor condimentum a. Phasellus a convallis ex. Sed in nunc ut tortor ornare imperdiet vel finibus odio. Nulla a tempor massa. Donec efficitur tellus ut neque sodales mollis. Sed placerat nulla nec sem varius finibus at eget metus. Nulla lacinia neque nulla, non aliquet lacus egestas sit amet.</p>

        <p>Fusce in lorem arcu. Praesent vitae dolor dictum nunc accumsan rutrum. Suspendisse lacinia, ex in consequat consectetur, metus orci lacinia ligula, et sollicitudin enim velit id quam. Duis sollicitudin molestie condimentum. Duis faucibus, risus eu sagittis aliquet, nisi mi aliquam justo, eu volutpat felis sem eget est. Sed accumsan sapien vel ipsum scelerisque, et imperdiet mauris maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum imperdiet ultricies viverra.</p>

        <p>Donec ante ex, ullamcorper ut urna non, dignissim feugiat ex. Integer a sagittis orci. Donec pretium diam non libero sodales, id scelerisque libero molestie. Nam gravida faucibus efficitur. Proin iaculis erat ac velit tincidunt molestie. Curabitur nec placerat ipsum, eu sollicitudin elit. Suspendisse potenti. Nam in ligula massa. Aliquam erat volutpat. Vivamus faucibus rutrum lectus, ut tincidunt dui feugiat id.</p>
      </div>
    </div><!-- /.tab-content -->
  </div><!-- /.container -->
</section><!-- /.tabbed-content-wrapper -->
