<h3 class="sg-pattern-title">
  Communities Brand Colours
</h3>
<ul class="sg-colors">
  {{# CommunitiesBrandColours }}
  <li>
    <span class="sg-swatch" style="background: {{ HexValue }};"></span>
    <span class="sg-label">
			<label>{{ varName }}</label><br>
			{{ HexValue }} / {{ PMSValue }}
		</span>
  </li>
  {{/ CommunitiesBrandColours }}
</ul><br />
<h3 class="sg-pattern-title">
  Lifestyle Brand Colours
</h3>
<ul class="sg-colors">
  {{# LifestyleBrandColours }}
  <li>
    <span class="sg-swatch" style="background: {{ HexValue }};"></span>
    <span class="sg-label">
			<label>{{ varName }}</label><br>
			{{ HexValue }} / {{ PMSValue }}
		</span>
  </li>
  {{/ LifestyleBrandColours }}
</ul><br />
<h3 class="sg-pattern-title">
  Living Brand Colours
</h3>
<ul class="sg-colors">
  {{# LivingBrandColours }}
  <li>
    <span class="sg-swatch" style="background: {{ HexValue }};"></span>
    <span class="sg-label">
			<label>{{ varName }}</label><br>
			{{ HexValue }} / {{ PMSValue }}
		</span>
  </li>
  {{/ LivingBrandColours }}
</ul><br />
<h3 class="sg-pattern-title">
  Old Brand Colours
</h3>
<ul class="sg-colors">
  {{# OldBrandColours }}
  <li>
    <span class="sg-swatch" style="background: {{ HexValue }};"></span>
    <span class="sg-label">
			<label>{{ varName }}</label><br>
			{{ HexValue }} / {{ PMSValue }}
		</span>
  </li>
  {{/ OldBrandColours }}
</ul>