<ul class="icon-navigation {{ styleModifier }} {{ iconNav.classes }}">
  <li class="p2">
    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-investors-overview", icon-link-text:"Investors Overview")}}
  </li>
  <li class="p2">
    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-financials-and-releases", icon-link-text:"Financials & Releases")}}
  </li>
  <li class="p2">
    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-webcasts", icon-link-text:"Webcasts")}}
  </li>
  <li class="p2">
    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-presentations", icon-link-text:"Presentations")}}
  </li>
  <li class="p2">
    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-distributions", icon-link-text:"Distributions")}}
  </li>
  <li class="p2">
    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-corporate-info", icon-link-text:"Corporate Info")}}
  </li>
  <li class="p2">
    {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-portfolio-profile", icon-link-text:"Portfolio Profile")}}
  </li>
</ul>