<div>
    <img src="http://via.placeholder.com/{{image-carousel.img-width}}x{{image-carousel.img-height}}" width="{{image-carousel.img-width}}" height="{{image-carousel.img-height}}" alt="" title="" />
    {{# image-carousel.img-caption}}
    <div class="image-caption">
        <p>{{{ image-carousel.img-caption }}}</p>
    </div>
    {{/ image-carousel.img-caption}}
</div>