.advanced-filters {

  #filterAccordion {

    // quite different version of small screens
    @media (max-width: ($M - 1)) {
      position: absolute;
      z-index: 3;
      background: #fff;
      top: 0;
      width: 100%;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &-toggle {
    background: $white;
    border-bottom: none;

    &:not(.advanced-filters-toggle-header) {
      a {
        color: $blue;
        font-size: 1rem;
        font-weight: bolder;
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid $lighterblue;
        text-transform: uppercase;
        font-family: $futura;

        &::after {
          @include icomoon("\ea50");
          color: $blue;
          font-size: 20px;
          font-weight: bolder;
          display: inline-block;
          position: relative;
          left: 2px;
          top: 8px;
        }

        &.collapsed {
          border-bottom: 1px solid transparent;

          &::after {
            transform: rotate(180deg);
            top: 0;
          }
        }
      }
    }

    &-small {
      width: 85%;
      margin-top: 1rem;
      color: $white !important;
    }

    &-header {
      background: $blue;
      padding: 30px;

      a {
        color: $white;
        text-transform: uppercase;
        border-bottom: none;
        font-size: 2rem;
        font-family: $futura;
      }
    }
  }

  #advancedFilters {
    a {
      font-family: $futura;
      text-transform: uppercase;
    }
  }

  #advancedFilterCollapse {
    @media (max-width: $M) {
      border-bottom: 1px solid $footer-grey;
    }
  }

  label {

    input {
      margin-right: 10px;
    }

    img {
      display: inline-block;
    }
  }

  input {
    margin-bottom: 30px;
    @media (min-width: $M) {
      margin-bottom: 20px;
    }
  }

  select {
    margin-bottom: 30px;
  }

  &-stock {

    label {
      padding-left: 25px;
      padding-right: 5px;
    }

  }

  .hr-blue {
    border-bottom: 1px solid $lighterblue;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 150px;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: 15px solid $lighterblue;
      border-top: 15px solid transparent;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 150px;
      bottom: -1px;
      width: 0;
      height: 0;
      z-index: 2;
      border-bottom: 14.5px solid white;
      border-top: 14.5px solid transparent;
      border-left: 14.5px solid transparent;
      border-right: 14.5px solid transparent;
    }

    // first option selected
    &-col-1 {
      &:after, &:before {
        left: 12%;
      }
    }

    // second option selected
    &-col-2 {
      &:after, &:before {
        left: 38%;
      }
    }
  }

  .bordered-box {
    padding: 25px 0 10px;
    border: 1px solid black;
    margin-bottom: 30px;

    label {
      padding-left: 25px;
      padding-right: 5px;
    }
  }


  &-incentives {
    background: black;
    border-radius: 3px;
    margin-bottom: 20px;

    label {
      color: $white;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;

      &:first-of-type {
        margin-bottom: 0;
      }

      input {
        margin-bottom: 0;
      }
    }
  }

  &-design {

    &-divider {
      border-top: 1px solid $lightgrey;
      margin-bottom: 15px;
    }
  }

  .secondary-heading {
    font-size: 1.1rem;
    padding-left: 25px;
    margin-bottom: 1rem;
  }

  .active-filters-bar {
    border-bottom: 1px solid $lighterblue;
    border-top: 1px solid $lighterblue;
    padding: 15px 0;
    margin-bottom: 1rem;

    a {
      text-transform: uppercase;
      color: $text-color;
      padding: 5px;
      margin-right: 20px;
    }


    .active-filter-links {
      display: flex;
      flex-wrap: wrap;
    }

    i {
      margin-right: 5px;
    }

    .icon-close {
      margin-left: 5px;
    }
  }
}