ul.icon-navigation {
    padding: 50px 0 10px;

    li {
        text-align: center;
        margin-bottom: 15px;

        a {
            color: $black;
            font-size: 15px;
            font-family: $futura;
            font-weight: 700;
            text-transform: uppercase;

            i {
                display: block;
                font-size: 40px;
                padding-bottom: 8px;
            }

            &:hover {
                color: $blue;

                i {
                    color: $blue;
                }
            }
        }
    }

    &.icon-navigation__stacked {
        padding-top: 10px;

        li {
            text-align: left;
            margin-right: 20px;
            margin-bottom: 5px;

            a {
                color: #ddd;
                font-size: 14px;

                i {
                    display: inline-block;
                    right: auto;
                    font-size: 24px;
                    position: static;
                    margin-right: 20px;
                    width: 25px;
                    transform: none;
                    vertical-align: middle;
                }

                &:hover {
                    color: $blue;

                    i {
                        color: $blue;
                    }
                }
            }
        }
    }

    &.white {
        li a {
            color: $white;

            &.active {
                color: $yellow;
            }
        }
    }
}


// on the investor page
.investor-icon-navigation {
    padding-left: 15px;
    padding-right: 15px;

    @include if-min-width($XL) {
        padding-left: 0;
        padding-right: 0;
    }

    .icon-navigation {
        margin-bottom: 0;
        @media (max-width: $XM) {
            justify-content: flex-start !important;
        }
    }
    // <li>
    // have to get a little grainy to make this work...
    .p2 {
        width: 50%;
        margin-bottom: 30px;

        @include if-min-width($S) {
            width: 33.33%;
        }

        @include if-min-width($M) {
            width: 25%;
        }

        @include if-min-width($XM) {
            padding: 0 1rem;
            border-right: 1px solid $lightgrey;
            width: 14.28%;
            margin-bottom: 15px;
            &:last-of-type {
                border-right: none;
            }
        }

        @include if-min-width($XL) {
            padding: 0 1rem;
        }

        @include if-min-width($XXL) {
            padding: 0 2rem;
        }

        a {
            display: block;

            &:hover {
                color: lighten($btn-white-text, 20%);

                i {
                    color: lighten($btn-white-text, 20%);
                }
            }
        }
    }
}
