.investor-market-blocks {
  display: flex;
  font-family: $futura;
  flex-wrap: wrap;
  @include if-min-width($XM) {
    flex-wrap: nowrap;
  }

  .investor-market-block {
    width: 100%;
    padding: 2.5rem 0 2.5rem 2.5rem;
    @include if-min-width($XM) {
      width: 50%;
      padding: 2.5rem 0 2.5rem 2.5rem;
    }
    @include if-min-width($XXL) {
      padding: 5rem 0 5rem 5rem;
    }

    // market summary side
    &:first-of-type {
      background: $black;
      color: $white;
      display: flex;
      flex-wrap: wrap;

      a {
        color: currentColor;
      }

      .market-summary {

        &-heading {
          width: 100%;
          @include if-min-width($M) {
            width: 45%;
          }
          @include if-between($XM, $L) {
            width: 80%;
          }
          @include if-min-width($XL) {
            width: 40%;
          }
        }

        &-tabs {
          width: 90%;
          @include if-min-width($M) {
            width: 45%;
          }
          @include if-between($XM, $L) {
            width: 80%;
          }
          @include if-min-width($XL) {
            width: 45%;
          }

          .nav-tabs {
            border-bottom: none;
          }

          a {
            font-size: 1.7rem;
          }
        }

        &-data {
          padding: 2rem;
          margin-top: 1rem;
          background: $hr-color;
          border: 1px solid $white;

          h4 {
            font-weight: 100;
            font-size: 2.56rem;
          }

          span {
            color: $yellow;
          }

          &-flex {
            display: flex;
            justify-content: center;
          }
        }

        &-arrow {
          width: 100%;
          display: none;
          justify-content: flex-end;
          align-items: center;
          font-size: 3rem;
          padding-right: 2rem;
          padding-top: 1.5rem;
          @include if-min-width($XM) {
            display: flex;
          }
          @include if-min-width($XL) {
            width: 15%;
            justify-content: center;
            padding-right: 0;
            padding-top: 0;
          }
        }
      }

      .market-summary-links {
        display: flex;
        justify-content: space-between;

        .nav-link {
          border: none;
          padding: 0;
          opacity: 0.8;

          &.active {
            background: transparent;
            opacity: 1;
          }
        }
      }

    }


    .market-summary-arrow {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;

      &:hover {
        cursor: pointer;
      }
    }

    &.investor-downloads {
      background: $lightgrey;
      display: flex;
      flex-wrap: wrap;
      padding: 2.5rem;
      @include if-min-width($XL) {
        padding: 5rem;
      }

      > div {
        width: 100%;
        @include if-min-width($XL) {
          width: 50%;
        }

        &:first-of-type {
          padding-right: 2rem;

          p {
            padding-right: 7rem;
            @include if-min-width($XM) {
              padding-right: 3.5rem;
            }
            @include if-min-width($XXL) {
              padding-right: 7rem;
            }
          }
        }

        &:last-of-type {
          padding-top: 1.5rem;
          @include if-min-width($XL) {
            padding-top: 3.5rem;
          }

          .btn {
            width: auto;
            text-align: left;
            @include if-min-width($XXL) {
              width: 100%;
            }

            i {
              float: right;
              top: 2px;
            }
          }
        }
      }
    }

    &.market-summary-expanded {
      background: $black;
      color: $white;
      display: flex;
      padding-left: 0;
      padding-bottom: 2.5rem;
      flex-wrap: wrap;
      justify-content: center;

      @include if-min-width($XM) {
        padding-bottom: 5rem;
      }
      @include if-min-width($XL) {
        flex-wrap: nowrap;
      }

      > div {
        &:first-of-type {
          width: 100%;
          @include if-min-width($S) {
            width: 50%;
          }
          @include if-min-width($XL) {
            width: auto;
          }
        }
      }

      table {
        width: auto;
        //font-family: $source-sans-pro;
        font-size: 1.25rem;
        margin: 0 auto;
        @include if-min-width($XXL) {
          margin-right: 2rem;
          margin-bottom: 0;
          width: 100%;
          display: block;
        }

        tr {
          td {
            border-top: none;
            white-space: nowrap;
            padding: .3125rem;
            text-align: right;

            &:first-of-type {
              font-weight: 100;
            }
            &:last-of-type {
              font-weight: 500;
            }
          }
        }
      }

      img {
        margin: 0 auto;
        width: 100%;
        height: auto;
      }

      .market-img {
        padding: .75rem;
        position: relative;
        @include if-min-width($S) {
          width: 50%;
        }
        @include if-min-width($XXL) {
          width: auto;
          padding-left: 5rem;
          padding-right: 2.5rem;
        }

        P {
          margin-bottom: 0;
          position: absolute;
          bottom: -7px;
          right: 2.5rem;
        }
      }

      .market-summary-arrow {
        width: 8%;
        display: none;
        @include if-min-width($XM) {
          display: flex;
        }

        @include if-between($XM, $L) {
          width: 100%;
          justify-content: flex-end;
          padding-right: 2rem;
          padding-top: 1.5rem;
        }

        i {
          transform: rotate(-180deg);
        }
      }

    }

  }

}