.multi-columns {
  background: #eee;
  text-align: center;

  .container {
    padding: 3rem 0;
  }

  .column-wrapper {
    text-align: left;
  }

  .btn {
    margin-top: 3rem;
  }

  @include if-min-width($XM) {

    .container{
      padding: 8rem 0;
    }

    .column-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
