<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> atoms-heading(heading-text:"Book A Viewing...")}}

    {{> organisms-footer}}

</div> <!--/.wrapper-->
