<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header(background-color:"black")}}

    {{> molecules-jumbotron:vertical-center|jumbotron-small|bg-white|black}}

    {{> organisms-multiple-community-blocks:bg-white}}

    {{> organisms-feature-community}}

    {{> molecules-half-and-half}}

    {{> molecules-half-and-half}}

    {{> organisms-footer}}

</div> <!--/.wrapper-->