<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-large}}

    {{> molecules-brand-bar}}

    <div class="bg-black" style="padding-bottom: 8rem; margin-bottom: 8rem;">
        {{> organisms-multiple-property-cards}}

        {{> organisms-property-search-block}}
    </div>


    {{> organisms-multiple-brand-cards}}

    <h1 class="secondary-heading text-center">
        Lifestyle Finishings
    </h1>
    <div class="container">
        {{> molecules-image-carousel:mb-5}}
    </div>

    {{> molecules-related-items:container-fluid-full}}

    {{> organisms-footer}}

</div> <!--/.wrapper-->
