<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron}}

    {{> molecules-promo}}

    {{> atoms-back-link:blue(back-link-text:"Back To Our Stories",back-link-href:"/stories")}}

    {{> molecules-content-w-aside}}

    {{> molecules-related-items}}

    <div class="text-center mt-5">
        {{> atoms-primary-button(primary-button-text:"View All Our Stories")}}
    </div>

    {{> organisms-footer}}

</div> <!--/.wrapper-->
