<label class="select__label" for="{{form-field-select-id}}">
    <select id="{{form-field-select-id}}" class="{{ styleModifier }}">
        <option>{{form-field-select-placeholder}}</option>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
    </select>
</label>
