<h2 class="secondary-heading {{ styleModifier }}">
    {{# heading }}
    {{ heading }}
    {{/ heading }}
    {{^ heading}}
      <span class="sub-heading">Setting the Stage</span>
      For A Life Well Lived
    {{/ heading}}
</h2>
