<div style="clear: both; font-family: 'Allura';">
  <div style="font-size: 6vw;">Allura</div>
  <div style="font-size: 3vw; margin: 20px 0;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>font-family: 'allura';</code></pre>
</div>

<div style="clear: both; font-family: 'futura-pt'; font-weight: 300;">
  <div style="font-size: 6vw;">Futura PT Light</div>
  <div style="font-size: 3vw; margin: 20px 0;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>font-family: 'futura-pt'; font-weight: 300;</code></pre>
</div>

<div style="clear: both; font-family: 'futura-pt'; font-weight: 400;">
  <div style="font-size: 6vw;">Futura PT Book</div>
  <div style="font-size: 3vw; margin: 20px 0;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>font-family: 'futura-pt'; font-weight: 400;</code></pre>
</div>

<div style="clear: both; font-family: 'futura-pt'; font-weight: 700;">
  <div style="font-size: 6vw;">Futura PT Heavy</div>
  <div style="font-size: 3vw; margin: 20px 0;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>font-family: 'futura-pt'; font-weight: 700;</code></pre>
</div>

<div style="clear: both; font-family: 'Source Sans Pro'; font-weight: 300;">
  <div style="font-size: 6vw;">Source Sans Pro</div>
  <div style="font-size: 3vw; margin: 20px 0;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>font-family: 'source-sans-pro'; font-weight: 300;</code></pre>
</div>
