<div class="icons icon-list">
    <h2>icomoon</h2>
    <ul>
        <li class="icon-instagram"></li>
        <li class="icon-twitter"></li>
        <li class="icon-google-plus"></li>
        <li class="icon-youtube"></li>
        <li class="icon-facebook"></li>
        <li class="icon-search"></li>
        <li class="icon-resident-member"></li>
        <li class="icon-close"></li>
        <li class="icon-info"></li>
        <li class="icon-delete"></li>
        <li class="icon-pin"></li>
        <li class="icon-plus"></li>
        <li class="icon-cta"></li>
        <li class="icon-play-circle-o"></li>
        <li class="icon-ctrl"></li>
        <li class="icon-bars"></li>
        <li class="icon-chat-bubble"></li>
        <li class="icon-download"></li>
        <li class="icon-camera"></li>
    </ul>
    <ul>
        <li class="icon-investors-overview"></li>
        <li class="icon-financials-and-releases"></li>
        <li class="icon-webcasts"></li>
        <li class="icon-presentations"></li>
        <li class="icon-distributions"></li>
        <li class="icon-corporate-info"></li>
        <li class="icon-portfolio-profile"></li>
    </ul>
    <ul>
        <li class="icon-stove"></li>
        <li class="icon-parking"></li>
        <li class="icon-pet"></li>
        <li class="icon-fridge"></li>
        <li class="icon-dishwasher"></li>
        <li class="icon-water"></li>
        <li class="icon-heat"></li>
    </ul>
</div>
