<section class="multi-columns">
  <div class="container">
    {{> atoms-secondary-heading }}

    <div class="column-wrapper">
      {{> molecules-excerpt-card }} {{> molecules-excerpt-card }} {{> molecules-excerpt-card }}
    </div>

    {{> atoms-primary-button:blue(primary-button-text:"Experience Lifestyles") }}
  </div>
  <!-- /.container -->
</section>
<!--/.multi-columns-->