<section class="promo-announcement darkblue">
  <div class="container">
    <span class="promo-title">New Limited Time Promotions</span> {{> atoms-arrow-link:white(arrow-link-url: "#", arrow-link-text: "Learn More") }}
  </div>
</section>
<!-- /.promo-announcement -->