<div class="brand-bar bottom-arrow">
  <div class="brand-bar-logo">
    {{> atoms-property-logo(lifestyle: true)}}
  </div>
  <!-- /.brand-bar-logo -->

  <a class="view-map-btn" href="#"><i class="icon icon-pin"></i> View Map</a>

</div>
<!-- /.brand-bar -->