<div id="mobile-nav-container">
  <header class="mobile-header d-flex justify-content-between">
    <div class="d-flex align-items-center mobile-header__logo">{{>atoms-logo}}</div>
    <div class="d-flex align-items-center">{{>atoms-close-button}}</div>
  </header>
  <!--/.mobile-header-->
  {{>atoms-hr}}
  <ul class="ul-mobile-nav" id="accordion" role="tablist" aria-multiselectable="true">
    <li role="tab">{{>molecules-search-container(form-field-search-placeholder:"Search",form-field-search-id:"mnav-search")}}</li>
    <li role="tab" class=""> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ul-mobile-nav__find" aria-expanded="false" aria-controls="ul-mobile-nav__find">Find Your Home <i class="icon-ctrl"></i></a>
      <div id="ul-mobile-nav__find" class="collapse" role="tabpanel">
        {{>molecules-search-container(form-field-search-placeholder:"Choose Your City")}}
        <p>{{> atoms-arrow-link:white|white(arrow-link-text:"Advanced Search")}}</p>
        <p class="white">Or, select your province instead:</p>
        <div class="btn-group" role="group" aria-label="select your province">
          {{> atoms-primary-button:blue(primary-button-text: "Alberta") }} {{> atoms-primary-button:blue(primary-button-text: "Ontario") }}
        </div>
        <div class="btn-group" role="group" aria-label="select your province">
          {{> atoms-primary-button:blue(primary-button-text: "Quebec") }} {{> atoms-primary-button:blue(primary-button-text: "Saskatchewan") }}
        </div>
      </div>
    </li>
    <!--/.panel-->
    <li role="tab"><a href="#">Experience Boardwalk</a></li>
    <li role="tab"><a href="#">Our Stories</a></li>
    <li role="tab"><a href="#">Careers</a></li>
    <li role="tab" class="">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ul-mobile-nav__investors" aria-expanded="false" aria-controls="ul-mobile-nav__investors">Investors <i class="icon-ctrl"></i></a>
      <div id="ul-mobile-nav__investors" class="collapse" role="tabpanel">
        {{>organisms-icon-navigation}}
      </div>
    </li>
    <li role="tab" class="border-top"><a href="#">Contact</a></li>
    <li role="tab">{{>atoms-primary-button:white(primary-button-text:"Resident Member Login")}}</li>
    <li role="tab" class="border-top lang"><a href="#">Fran&ccedil;ais</a></li>
  </ul>
  <!--/.ul-mobile-nav-->
</div>