<section class="featured-community black-bg">
  <div class="featured-community-header">
    {{> atoms-property-logo(lifestyle: true)}}
  </div><!-- /.featured-community-header -->
  <div class="featured-community-content-wrapper">
    {{> molecules-image-carousel }}
    <div class="featured-community-content">
      <h3 class="featured-community-heading">lorem ipsum dolor amet sit elut ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor bibendum felis, sed volutpat lacus.</p>
      {{> atoms-primary-button:white(primary-button-text:"Experience Lifestyles") }}
    </div><!-- /.featured-community-content -->
  </div><!-- /.featured-community-content-wrapper -->
</section><!-- /.featured-community -->
