<section class="half-and-half-block">
    <div class="left-half blue">
        <div class="market-summary">
        </div><!-- /.market-summary -->
    </div><!-- /.left-half -->

    <div class="right-half grey">
        <div class="investor-kit">
        </div><!-- /.investor-kit -->
    </div><!-- /.right-half -->
</section> <!-- /.half-and-half-block -->
