<section class="multi-columns">
    <div class="container">
        <div class="column-wrapper">
            {{> molecules-offer-card(offerNotice: true) }}
            {{> molecules-offer-card(extraContent: true) }}
            {{> molecules-offer-card(offerNotice: true) }}
        </div>
    </div><!-- /.container -->
</section> <!--/.multi-columns-->
