<section class="multi-columns">
  <div class="column-wrapper">
      {{> molecules-search-block(block-content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue viverra porta. Ut sit amet mollis dui.") }}
      {{> molecules-search-block(block-content: "Proin nec dui eget lacus mollis cursus. Duis non erat vulputate, euismod diam tempus, aliquet felis. Morbi dignissim, leo in congue pulvinar, nisi ex convallis augue, vel consectetur felis velit vitae diam. Nullam in finibus dolor.") }}
  </div>
</section> <!--/.multi-columns-->
