<section class="multi-columns {{ styleModifier }}">
  <div class="container">
    <div class="column-wrapper">
      {{> molecules-community-block }}
      {{> molecules-community-block }}
      {{> molecules-community-block }}
    </div>
  </div><!-- /.container -->
</section> <!--/.multi-columns-->
