<section class="multi-columns">
    <div class="container">
      {{> atoms-secondary-heading }}

        <div class="column-wrapper">
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
            {{> atoms-feature-icon }}
        </div>

        <ul class="citation-list">
          <li class="terms-and-conditions"><span class="citation">*</span> one-time $250 non-refundable pet fee.</li>
        </ul><!-- /.citation-list -->
    </div><!-- /.container -->
</section> <!--/.multi-columns-->
