<div class="property-listings">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{> molecules-property-list-item(property-type:"communities",loop-index:"0")}}
                {{> molecules-property-list-item(property-type:"lifestyle",loop-index:"1")}}
                {{> molecules-property-list-item(property-type:"living",loop-index:"2")}}
                {{> molecules-property-list-item(property-type:"communities", special-offer: true,loop-index:"3")}}
                {{> molecules-property-list-item(property-type:"lifestyle", special-offer:true,loop-index:"4")}}
                {{> molecules-property-list-item(property-type:"living", special-offer:true,loop-index:"5")}}
            </div>
        </div>
    </div>
</div>