<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron}} {{> molecules-brand-bar(brand-bar-communities:false, brand-bar-lifestyle:false, brand-bar-living:false, first-color:"black",third-color:"blue",view-map-button:false)}} {{> organisms-multiple-key-features}}
  {{> molecules-promotion-block}} {{> organisms-footer}}

</div>
<!--/.wrapper-->