<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron:vertical-center|jumbotron-medium}}

  <div class="container-fluid bg-darkblue">
    <div class="row">
      <div class="col-md-12">
        {{>organisms-icon-navigation:icon-navigation|d-flex|flex-row|justify-content-between|align-items-start|flex-wrap|white}}
      </div>
    </div>
    <!--/.row-->
  </div>

  <main>
    <section class="multi-columns">
      <div class="container">
        <div class="column-wrapper">

          <div class="investor-market-block investor-downloads">
            <div>
              <h2 class="secondary-heading">Financial Reports</h2>

            </div>
            <div>
              <h3>2017</h3>

              <div class="row">
                <div class="col-md-12">

                  <ul class="icon-navigation d-flex flex-row justify-content-between align-items-start flex-wrap">
                    <li>
                      <h3>Q1</h3>
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-financials-and-releases", icon-link-text:"Financials Press Release")}}
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-presentations", icon-link-text:"Supplemental Notes")}}
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-presentations", icon-link-text:"Webcast Presentations")}}
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-presentations", icon-link-text:"Quarterly Report")}}
                    </li>

                  </ul>
                  <ul class="icon-navigation d-flex flex-row justify-content-between align-items-start flex-wrap">
                    <li>
                      <h3>Q2</h3>
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-financials-and-releases", icon-link-text:"Financials Press Release")}}
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-presentations", icon-link-text:"Supplemental Notes")}}
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-presentations", icon-link-text:"Webcast Presentations")}}
                    </li>
                    <li class="p2">
                      {{>atoms-icon-link(icon-link-url:"#", icon-link-icon-class:"icon-presentations", icon-link-text:"Quarterly Report")}}
                    </li>

                  </ul>

                </div>

              </div>
              <!--/.row-->
            </div>
          </div>
    </section>

    <section class="">

      <div class="">

        <div class="column-wrapper">

          <div class="investor-downloads">

            <h2 class="secondary-heading">Financial Reports</h2>

            <h3>2017</h3>

            <div class="row">

              <div class="col-md-3">
                <h4>Q4</h4>
                {{> atoms-download-button(download-button-text:"Financial Press Release")}} {{> atoms-download-button(download-button-text:"Supplemental Notes")}} {{> atoms-download-button(download-button-text:"Webcast Presentation")}} {{> atoms-download-button(download-button-text:"Quarterly
                Report")}}
              </div>

              <div class="col-md-3">
                <h4>Q3</h4>
                {{> atoms-download-button(download-button-text:"Financial Press Release")}} {{> atoms-download-button(download-button-text:"Supplemental Notes")}} {{> atoms-download-button(download-button-text:"Webcast Presentation")}} {{> atoms-download-button(download-button-text:"Quarterly
                Report")}}
              </div>

              <div class="col-md-3">
                <h4>Q4</h4>
                {{> atoms-download-button(download-button-text:"Financial Press Release")}} {{> atoms-download-button(download-button-text:"Supplemental Notes")}} {{> atoms-download-button(download-button-text:"Webcast Presentation")}} {{> atoms-download-button(download-button-text:"Quarterly
                Report")}}
              </div>

              <div class="col-md-3">
                <h4>Q3</h4>
                {{> atoms-download-button(download-button-text:"Financial Press Release")}} {{> atoms-download-button(download-button-text:"Supplemental Notes")}} {{> atoms-download-button(download-button-text:"Webcast Presentation")}} {{> atoms-download-button(download-button-text:"Quarterly
                Report")}}
              </div>

            </div>

          </div>

        </div>

  </main>

  {{> organisms-footer}}

  </div>
  <!--/.wrapper-->