<!-- active filters bar -->
<div class="active-filters-bar">
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-9 col-lg-10">
                <div class="active-filter-links">
                    <div class="active-filter-link"><a href="#"><i class="icon-delete"></i> Calgary</a></div>
                    <div class="active-filter-link"><a href="#"><i class="icon-delete"></i> Downtown</a></div>
                    <div class="active-filter-link"><a href="#"><i class="icon-delete"></i> <$2000/mo</a></div>
                    <div class="active-filter-link"><a href="#"><i class="icon-delete"></i> Heat</a></div>
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2 text-right">
                <!-- should only display if one or more filters active -->
                <div class="active-filter-link active-filter-link-clear">
                    <a href="#">Clear <i class="icon-close"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>