<div class="community-block-card black-bg">
  <div class="brand-wrapper" style="background-image: url({{ community-block-brand-bg }}http://via.placeholder.com/600x720);">
    {{> atoms-property-logo(lifestyle: true)}}
  </div><!-- /.brand-wrapper -->

  <div class="block-content-wrapper">
    <h3 class="block-heading">{{ block-title }}Lifestyle</h3>
    <p>{{ block-content }}The ultimate living experience you deserve.</p>
  </div><!-- /.block-content-wrapper -->
</div><!-- /.community-block-card -->
