<section class="content-w-aside">

    {{# contentWithAside.hasBackToLink }}
    <div class="back-link-container">
        <a class="back-link {{ contentWithAside.linkColor }} mb-5" href="{{ contentWithAside.linkUrl }}">{{ contentWithAside.linkText }}</a>
    </div>
    {{/ contentWithAside.hasBackToLink }}

    <div class="container">
        <aside class="left-rail {{# contentWithAside.leftRailContent }}left-rail-copy{{/ contentWithAside.leftRailContent }}">
            <div class="left-rail-content">
                {{# contentWithAside.leftRailHasDateMeta }}
                    {{> atoms-date-meta}}
                {{/ contentWithAside.leftRailHasDateMeta }}

                {{# contentWithAside.leftRailContent }}
                    {{{ contentWithAside.leftRailContent }}}
                {{/ contentWithAside.leftRailContent }}

            </div>
        </aside><!-- /.left-rail -->
        <div class="right-content">
            <div class="right-rail-content">
                <h2 class="secondary-heading">{{{ contentWithAside.rightRailContent.heading }}}</h2>
                {{{ contentWithAside.rightRailContent.content }}}

                {{# contentWithAside.hasArrowLink }}
                    {{> atoms-arrow-link:blue(arrow-link-url: "{{{ contentWithAside.rightRailContent.arrowLinkUrl }}}", arrow-link-text: "{{{ contentWithAside.rightRailContent.arrowLinkText }}}") }}
                {{/ contentWithAside.hasArrowLink  }}
                
            </div>

        </div><!-- ./right-content -->
    </div>
</section><!-- /.centred-cta -->