
<section>
    <div class="container">
        <form>
            <div class="row">
                <div class="col"></div>
                <div class="col-sm-12">
                    <h2 class="secondary-heading text-center">Experienced Professional Contractors Wanted</h2>
                    <p>
                        Boardwalk’s aggressive renovation strategy has proven to be a key component to our company’s success and our high level of customer service. Boardwalk has on-going opportunities for experienced professional contractors. If you are a professional contractor interested in working with us, please complete the following information form.
                    </p>
                </div>
            </div>

        </form>
    </div> <!--/.container -->

</section> <!--/.contact-form-->
