<div class="cta-card">
    <div class="cta-card-text">
        <h4 class="cta-card-title">{{ ctaCard.subheading }}</h4>
        <p>{{ ctaCard.heading }}</p>
    </div><!-- /.cta-card-text -->

    <a class="arrow-link blue" href="{{ctaCard.linkUrl}}">{{ctaCard.linkText}}</a>
</div><!-- /.cta-card -->
