<section class="half-and-half-block {{ styleModifier }}">
    <div class="left-half">
        {{# halfAndHalf.reversed }}
        <div class="half-and-half-imagery">
            {{> molecules-image-carousel }}
        </div><!-- /.half-and-half-imagery -->
        {{/ halfAndHalf.reversed }}
        {{^ halfAndHalf.reversed }}
        <div class="half-and-half-content">
            <h3 class="secondary-heading">{{ halfAndHalf.heading }}</h3>
            {{# halfAndHalf.copy }}
                <p>{{{ halfAndHalf.copy }}}</p>
            {{/ halfAndHalf.copy }}

            {{# halfAndHalf.linkText }}
                <a class="arrow-link {{ halfAndHalf.linkColor }}" href="{{ halfAndHalf.linkUrl }}">{{ halfAndHalf.linkText }}</a>
            {{/ halfAndHalf.linkText }}
        </div><!-- /.half-and-half-content -->
        {{/ halfAndHalf.reversed }}
    </div><!-- /.left-half -->

    <div class="right-half">
        {{# halfAndHalf.reversed }}
        <div class="half-and-half-content">
            <h3 class="secondary-heading">{{ halfAndHalf.heading }}</h3>
            {{# halfAndHalf.copy }}
                <p>{{{ halfAndHalf.copy }}}</p>
            {{/ halfAndHalf.copy }}

            {{# halfAndHalf.linkText }}
                <a class="arrow-link {{ halfAndHalf.linkColor }}" href="{{ halfAndHalf.linkUrl }}">{{ halfAndHalf.linkText }}</a>
            {{/ halfAndHalf.linkText }}
        </div><!-- /.half-and-half-content -->
        {{/ halfAndHalf.reversed }}
        {{^ halfAndHalf.reversed }}
        <div class="half-and-half-imagery">
            {{> molecules-image-carousel }}
        </div><!-- /.half-and-half-imagery -->
        {{/ halfAndHalf.reversed }}
    </div><!-- /.right-half -->
</section><!-- /.half-half-block -->