<div class="jumbotron jumbotron-fluid" style="background-image: url({{banner.background-image}});">

    <div class="container">
        {{> atoms-heading:white}}
        <p>{{ banner.content }}</p>
    </div>

</div> <!--/.jumbotron-->
