<section class="promotion-block">
    <div class="container">
      <div class="promo-heading">
        <img src="http://via.placeholder.com/150x80" alt="" title="" />
        <p>Telus TV and High Speed Internet is included with a 1 yr lease.</p>
      </div><!-- /.promo-heading -->

      <div class="promo-offerings">
        <h4 class="promo-offerings-title">Everyday Offers</h4>
        <ul>
          <li>$499 Security Deposit</li>
          <li>$299 Security Deposit for Seniors
          <li>5% Veteran's Discount</li>
        </ul>
      </div><!-- /.promo-offerings -->

      <p class="terms-and-conditions">All offers and features are subject to change, and some conditions may apply.</p>
    </div><!-- /.container -->
</section><!-- /.promotion-block -->
