<section class="promo-announcement {{ styleModifier }} bg-{{ promoAnnouncement.background }}">
    <div class="container">
        <span class="promo-title">{{ promoAnnouncement.text }}</span>
        <a class="arrow-link" href="{{ promoAnnouncement.linkUrl }}">{{ promoAnnouncement.linkText }}</a>
    </div>
</section><!-- /.promo-announcement -->