  <label>
    {{> elements-input("type":"checkbox","attribute":"checked")}}
    Checked
  </label>
  <label>
    {{> elements-input("type":"checkbox")}}
    Unchecked
  </label>
  <label>
    {{> elements-input("type":"checkbox","attribute":"disabled")}}
    Disabled
  </label>