<div class="stories-item_instagram-block">
  <div class="instagram-block-media--image">
    <picture>
      <source srcset="http://via.placeholder.com/900x900" media="(min-width: 80em)">
      <source srcset="http://via.placeholder.com/600x600" media="(min-width: 35em)">
      <img src="http://via.placeholder.com/300x300">
    </picture>
    <!-- /.bucket-image -->
  </div>
  <!-- /.instagram-block-media -->
  <div class="instagram-block-content">
    <h2 class="instagram-block-title">@loremipsum</h2>
    {{> atoms-arrow-link:blue(arrow-link-url: "#", arrow-link-text: "Community") }}
  </div>
  <!-- /.instagram-block-content -->
</div>
<!-- /.stories-item_instagram -->