@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
}

<ul id="main-navigation" class="d-flex flex-row justify-content-center align-items-baseline">

    @*@foreach (var item in selection)
    {
    <li class="p-2">
        <a href="@item.Url">@item.Name</a>
    </li>
        }*@

    <li class="p-2 m-nav-find"><a href="/property-results/">Find Your Home</a></li>
    <li class="p-2 m-nav-experience"><a href="#">Experience Boardwalk</a></li>
    <li class="p-2 m-nav-stories"><a href="/OurStories/">Our Stories</a></li>
    <li class="p-2 m-nav-careers"><a href="/CareerListings/">Careers</a></li>
    <li class="p-2 m-nav-investors"><a href="/Investors/">Investors</a></li>
    <li class="p-2 m-nav-contact"><a href="#">Contact</a></li>

</ul>
<!-- uncomment this line if you don't want it to appear in the top navigation -->

