  <ul id="utility-navigation" class="d-flex flex-row justify-content-end align-items-baseline">
    <li class="p-2 u-nav-login"><a class="login-link " href="#"><span>Resident Member</span> Login</a>
    </li>
    <li class="p-2 u-nav-lang"><a href="#">FR</a></li>
    <li class="p-2 u-nav-search"><a href="#"><i class="icon-search"></i></a></li>
  </ul>