<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron:vertical-center|jumbotron-large}} {{> molecules-brand-bar(brand-bar-communities:true, brand-bar-lifestyle:false, brand-bar-living:false, first-color:"blue",third-color:"black",view-map-button:true)}} {{>
  organisms-multiple-offer-cards}} {{> organisms-multiple-key-features:bg-white}} {{> molecules-promotion-block}} {{> molecules-half-and-half:bg-blue|white|text-center}} {{> molecules-related-items }} {{> organisms-footer}}

</div>
<!--/.wrapper-->