<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron}} {{> molecules-brand-bar(brand-bar-communities:true, brand-bar-lifestyle:false, brand-bar-living:false, first-color:"blue",third-color:"black",view-map-button:true)}} {{> organisms-multiple-offer-cards}}
  {{> organisms-multiple-key-features}} {{> molecules-promotion-block}} {{> organisms-footer}}

</div>
<!--/.wrapper-->