.feature-icon {
  text-align: center;
  padding: .5rem;
  display: inline-block;
  margin-bottom: 2rem;

  .icon {
    font-size: 300%;
  }

  .feature-text {
    display: block;
    margin-top: 1rem;
  }
}
