// Boardwalk variables

// Fonts

/* Fonts and Weight Options inside of Boardwalk Typekit Kit & Google Fonts

Allure (Google Fonts)
- Only one weight
- Cursive font used for sub headings

Futura PT (Typekit)
300 - Light
400 - Book
700 - Heavy
- Used for headings

Source Sans Pro
- Various numbered weights available
- Used as base font for website
*/

$allura: 'Allura', cursive;
$futura: 'futura-pt', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;

$base-font-family: $source-sans-pro;
$base-font-size:   16px; // or 100% ?
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.3;


$spacing-unit:     30px;
$gutter:           $spacing-unit;


// Width of the content area
$content-width:    1170px;

$on-palm:          600px;
$on-laptop:        800px;

// IE8?
$fixed-width: false !default;
$fixed-height: false !default;


// Colours
$base-bg:       #fff;
$text-color:    #000;
$footer-bg:     #23272c;
$footer-grey:   #aaabac;
$hr-color:      #44474b;
$listings-bg:   #e5e5e5;
$box-shadow-grey: #cecece;

$black:         #000;
$blue:          #0072bc;
$darkblue:      #01426a;
$lightblue:     #557b98;
$lighterblue:   #85a0b5;
$lightgrey:     #e2e2e2;
$orange:        #e53d30;
$red:           #ac1f2d;
$white:         #fff;
$yellow:        #f7be17;

// Brands - Lifestyle, Communities, Living
$brand-lifestyle-1: $black;
$brand-lifestyle-2: $blue;
$brand-lifestyle-3: $red;

$brand-comm-1: $blue;
$brand-comm-2: $black;
$brand-comm-3: $orange;

$brand-living-1: $darkblue;
$brand-living-2: $blue;
$brand-living-3: $yellow;


// Button Colours
$btn-bg: $blue;
$btn-bottom: $black;
$btn-text: $white;

// Red button
$btn-red-bg: #ff540d;
$btn-red-bottom: $black;
$btn-red-text: $white;

// Blue button
$btn-blue-bg: $blue;
$btn-blue-bottom: $black;
$btn-blue-text: $white;

// White buttons
$btn-white-bg: $white;
$btn-white-bottom: $black;
$btn-white-text: #338ec9;


// Breakpoints - $M/$XM & $L all match twitter bootstrap breakpoints
$XS: 560px;
$S: 640px;
$M: 768px;
$XM: 992px;
$L: 1200px;
$XL: 1340px;
$XXL: 1600px;

// Main menu breakpoints (specific)
$MNS: 1024px;
$MNM: 1160px;
$MNL: 1320px;
