.stories-item_instagram-block {
  position: relative;

  [class^=instagram-block-media] {
    position: relative;

    &::after {
      @include icomoon("\e900");
      position: absolute;
      top: 0;
      left: 0;
      font-size: 3.5rem;
      color: #fff;
    }

    img {
      margin: 0;
      width: 100%;
      max-height: 400px;
      min-height: 400px;
    }
  }

  .instagram-block-content {
    text-align: center;
    padding: 1rem;

    .instagram-block-title {
      font-family: $futura;
      font-weight: 300;
      font-size: 2.2rem;
    }


    &>* {
      margin: 1rem;
    }
  }

  @include if-min-width($S) {
    width: 25%;
  }
}
