<section class="experience-buckets">
  {{> molecules-experience-bucket:black-bg(borderColour: "red") }} {{> molecules-experience-bucket:blue-bg(borderColour: "orange") }} {{> molecules-experience-bucket:darkblue-bg(borderColour: "yellow") }}
</section>
<!-- /.experience-buckets -->