<div class="Microsite-Header BookAViewing-State-Step1">
  {{> widgets-welcomeheader}}
  <link href="/bundles/bookaviewing/css?v=5UeKJyXI-5nZ6ujNgBVufXAJNlG7D5HXa64DeqcRkPE1" rel="stylesheet">
  <script src="/bundles/bookaviewing/js?v=9S8r4iU6aoW3P0T6KC7xP3M3iZR8ekF5r3stfjj4a1c1"></script>
  <script type="text/javascript">
    var BookAViewingProjectNo = 393;
  </script>
  {{> widgets-bookaviewing}}
</div>