<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-small}}

    {{> molecules-content-w-aside}}

    {{> organisms-footer}}

</div> <!--/.wrapper-->