<ul class="sg-colors">
  {{# achromaticColours }}
  <li>
    <span class="sg-swatch" style="background: {{ HexValue }};"></span>
    <span class="sg-label">
			<label>{{ varName }}</label><br>
			{{ HexValue }} / {{ PMSValue }}
		</span>
  </li>
  {{/ achromaticColours }}
</ul>