<footer class="container-fluid">

  <ul aria-label="menu" class="nav socialStrip">
    <li aria-label="menuitem">
      <a title="Go to Boardwalk's Facebook page" href="//www.facebook.com/BoardwalkRentalCommunities" target="_blank">
                <i id="social-fb" class="fa fa-facebook-square social"></i>
            </a>
    </li>
    <li aria-label="menuitem">
      <a title="Go to Boardwalk's twitter page" href="//twitter.com/bwalkcommunity/" target="_blank">
                <i id="social-tw" class="fa fa-twitter-square social"></i>
            </a>
    </li>
    <li aria-label="menuitem">
      <a title="Go to Boardwalk's Instagram page" href="//instagram.com/bwalkcommunity/" target="_blank">
                <i id="social-ig" class="fa fa-instagram social"></i>
            </a>
    </li>
    <li aria-label="menuitem">
      <a title="Go to Boardwalk's youtube page" href="//www.youtube.com/user/BoardwalkRental" target="_blank">
                <i id="social-yt" class="fa fa-youtube-square social"></i>
            </a>
    </li>
    <li aria-label="menuitem">
      <a title="Go to Boardwalk's google plus page" href="//plus.google.com/115909052213685642332/" target="_blank">
                <i id="social-gp" class="fa fa-google-plus-square social"></i>
            </a>
    </li>
  </ul>

  <nav id="footerNav" class="navbar">

    <ul class="nav navbar-nav">

      <li>

        <a href="#Suites" class="scroll-link">Suites</a>

      </li>
      <li>

        <a href="#3DTour" class="scroll-link">3D Tour</a>

      </li>
      <li>

        <a href="#Incentives" class="scroll-link">Incentives</a>

      </li>
      <li>

        <a href="#Community" class="scroll-link">Community</a>

      </li>

    </ul>

  </nav>

  <p>
    © Boardwalk Rental Communities - All Rights Reserved

    <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">

            <meta itemprop="streetAddress" content="Suite 200, 1501-1 St. SW">Suite 200, 1501-1 St. SW, <meta itemprop="addressLocality" content="Calgary, Alberta, Canada ">Calgary, Alberta, Canada <meta itemprop="postalCode" content="T2R 0W1">T2R 0W1

            <span class="Culture-Phone">

                <a title="Boardwalk's Phone Number" itemprop="telephone" href="tel://1-403-531-9255">403-531-9255</a>

            </span>

    </span>

  </p>
</footer>