<ul aria-label="menu" class="nav navbar-nav navbar-right socialStrip">
    <li aria-label="menuitem">
        <a title="Go to Boardwalk's Facebook page" href="//www.facebook.com/BoardwalkRentalCommunities" target="_blank">
            <i id="social-fb" class="fa fa-facebook-square social"></i>
        </a>
    </li>
    <li aria-label="menuitem">
        <a title="Go to Boardwalk's twitter page" href="//twitter.com/bwalkcommunity/" target="_blank">
            <i id="social-tw" class="fa fa-twitter-square social"></i>
        </a>
    </li>
    <li aria-label="menuitem">
        <a title="Go to Boardwalk's Instagram page" href="//instagram.com/bwalkcommunity/" target="_blank">
            <i id="social-ig" class="fa fa-instagram social"></i>
        </a>
    </li>
    <li aria-label="menuitem">
        <a title="Go to Boardwalk's youtube page" href="//www.youtube.com/user/BoardwalkRental" target="_blank">
            <i id="social-yt" class="fa fa-youtube-square social"></i>
        </a>
    </li>
    <li aria-label="menuitem">
        <a title="Go to Boardwalk's google plus page" href="//plus.google.com/115909052213685642332/" target="_blank">
            <i id="social-gp" class="fa fa-google-plus-square social"></i>
        </a>
    </li>
</ul>