.property-logo {
  width: 155px;
  height: auto;
  fill: currentColor;
  margin: 1rem;

  &.communities-logo-simple{
      height: 55px;
  }

  &.lifestyle-logo-simple{
      height: 58px;
  }
}

.living-logo {
  fill: #01426a;
}

.communities-logo {
  fill: #0072bc;
}

.property-logo-white {
  fill: $white !important;
}
