.stories-item_news-block {
  background: #fff;

  [class*="news-block-media"] {
    position: relative;

    img {
      margin: 0;
      width: 100%;
      max-height: 400px;
      min-height: 400px;
      object-fit: cover;
    }
  }

  .news-block-media--video {
     &::after {
       @include icomoon("\f01d");
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       font-size: 5rem;
       color: #fff;
     }
   }


  .news-block-content {
    padding: 1rem;

    .news-block-title {
      font-family: $futura;
      font-weight: 900;
      font-size: 2.2rem;
      text-transform: uppercase;
    }

    & > * {
      margin: 1rem;
    }

    .arrow-link {
      display: inline-block;
      margin-top: 1rem;
    }
  }

  @include if-min-width($S) {
    width: 50%;
  }


  @include if-min-width($XM) {
    .news-block-content {
      display: flex;

      &>* {
        width: 50%;
      }

    }

  }
}
