.stories-item_twitter-block {
  background: #1DA1F2;

  color: #fff;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;

  .icon {
    font-size: 3rem;
    margin: 2rem 0 4rem;
    display: inline-block;
  }

  .twitter-block-content {
    blockquote {
      font-size: 130%;
      font-family: $source-sans-pro;
      font-weight: 100;
    }

    .twitter-user {
      font-weight: 700;
      display: block;
      margin-top: 1rem;
    }
  }

  @include if-min-width($S) {
    width: 50%;
  }

  @include if-min-width($XM) {
    width: 25%;
  }
}
