<p><time datetime="2013-04-06T12:32+00:00">2 weeks ago</time></p>
<p><time datetime="2011-11">November, 2011</time></p>
<p><time datetime="5d 22h 54m 41s">5 days, 22 hours, 54 minutes, and 41 seconds</time>.</p>