<section class="experience-buckets">
    {{> molecules-experience-bucket:black-bg(borderColour: "red", brand: "Lifestyle", lifestyle: "true") }}
    {{> molecules-experience-bucket:blue-bg(borderColour: "orange", brand: "Communities", communities: "true") }}
    {{> molecules-experience-bucket:darkblue-bg(borderColour: "yellow", brand: "Living", living: "true") }}
</section><!-- /.experience-buckets -->
