<section class="multi-columns {{ styleModifier }}">
  <div class="container">
    <div class="column-wrapper">
      {{# listItems.three }}
        {{> molecules-community-block }}
      {{/ listItems.three }}
    </div>
  </div><!-- /.container -->
</section> <!--/.multi-columns-->
