<div class="container-fluid brand-cards">
    <h2 class="secondary-heading text-center">Why Lifestyle</h2>
    <div class="row justify-content-center flex-md-nowrap">
        {{# listItems.three}}
            {{> molecules-brand-card:bg-black}}
        {{/ listItems.three}}
    </div>
</div>
