<div class="container property-search-block">
    <h2 class="secondary-heading white text-center">Explore Lifestyle</h2>
    <form method="post" action="http://www.google.ca">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-2 mb-md-0">
                {{> atoms-input-text:form-control|form-control-lg(form-field-text-placeholder:"Choose Your City")}}
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                {{> atoms-select:form-control|form-control-lg(form-field-select-placeholder:"Type of Suite")}}
            </div>
            <div class="col-sm-12 col-md-2 col-lg-1">
                {{> atoms-primary-icon-button:d-none|d-md-block|white(button-label:"Search")}}
                {{> atoms-primary-button-submit:d-sm-block|d-md-none|white(primary-button-text:'Search')}}
            </div>
        </div> <!--/.row-->
    </form>
</div> <!--/.container-->
