<section class="half-and-half-block property-details-gallery {{ styleModifier }} {{# halfAndHalf.reversed }}half-and-half-reversed{{/ halfAndHalf.reversed }}">
    <div class="left-half">
        <div class="half-and-half-content">
            <div class="property-details-card">
                {{> molecules-brand-bar-details}}
                {{> molecules-offer-card(offerNotice: true, detailsCard: true) }}
            </div>
        </div><!-- /.half-and-half-content -->
    </div><!-- /.left-half -->

    <div class="right-half">
        <div class="half-and-half-imagery">
            {{> molecules-gallery-carousel }}
        </div><!-- /.half-and-half-imagery -->
    </div><!-- /.right-half -->
</section><!-- /.half-half-block -->
