<section class="social-grid">
  {{> atoms-events-block }}
  {{> atoms-twitter-block }}
  {{> atoms-news-block:video }}
  {{> atoms-news-block }}
  {{> atoms-news-block }}
  {{> atoms-events-block }}
  {{> atoms-twitter-block }}
  {{> atoms-instagram-block }}
  {{> atoms-social-promo-block }}
  {{> atoms-social-promo-block }}
  {{> atoms-financials-block }}
  {{> atoms-events-block }}
  {{> atoms-instagram-block }}
  {{> atoms-news-block }}
  {{> atoms-instagram-block }}
  {{> atoms-twitter-block }}
</section> <!--/.hp-promos-->
