<section>
  <div class="container">
    <form>

      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
          <h2 class="secondary-heading text-center">Email Us</h2>
          <p>
            Do you have any questions or comments? Email us today.
          </p>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12 col-md-9 col-lg-6">

          <!-- Name -->
          <label class="white" for="cf-name">Name</label>
          <div class="row">
            <div class="col-12">
              {{> atoms-input-text:form-control|form-control-lg(form-field-text-id:"cf-name",form-field-text-placeholder:"Full name")}}
            </div>
          </div>
          <!--/.row -->

          <!-- Email & Phone -->
          <div class="row">
            <div class="col-12 col-md-6">
              <label class="white" for="cf-email">Email</label> {{> atoms-input-email:form-control|form-control-lg(form-field-email-id:"cf-email",form-field-email-placeholder:"eg. jsmith@bwalk.ca")}}
            </div>
            <div class="col-12 col-md-6">
              <label class="white" for="cf-phone">Phone</label> {{> atoms-input-tel:form-control|form-control-lg(form-field-tel-id:"cf-phone",maxlength:"13")}}
            </div>
          </div>
          <!--/.row -->

          <!-- Message -->
          <label class="white" for="cf-message">Message</label>
          <div class="row">
            <div class="col-12">
              {{> atoms-textarea:form-control|form-control-lg(form-field-textarea-id:"cf-message",form-field-textarea-placeholder:"foo")}}
            </div>
          </div>
          <!--/.row -->

          <!-- Upload image -->
          <p class="white">Add an image</p>
          {{> atoms-input-file:icon-camera}}

          <!-- Contact by -->
          <div class="row">
            <div class="col-12">
              <div class="form-check form-check-inline">
                {{> atoms-radio-button(form-field-radio-id:"inline-radio-phone",form-field-radio-name:"contactBy",form-field-radio-value:"phone")}} {{> atoms-radio-button(form-field-radio-id:"inline-radio-email",form-field-radio-name:"contactBy",form-field-radio-value:"email",form-field-radio-text:"Email
                me")}}
              </div>
            </div>
          </div>
          <!--/.row -->

          <hr/> {{> atoms-primary-button(primary-button-text:"Submit Inquiry")}}

        </div>
        <!--/.col -->

        <div class="col"></div>

      </div>
      <!--/.row -->

    </form>

  </div>
  <!--/.container -->
</section>
<!--/.contact-form-->