<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}} {{>organisms-panel-investors}} {{>organisms-panel-search}} {{>organisms-mobile-navigation}}

<div class="wrapper">

  {{> organisms-header}} {{> molecules-jumbotron}}

  <div class="container-fluid bg-darkblue">
    <div class="row">
      <div class="col-md-12">
        {{>organisms-icon-navigation:icon-navigation|d-flex|flex-row|justify-content-between|align-items-start|flex-wrap|white}}
      </div>
    </div>
    <!--/.row-->
  </div>

  {{> organisms-investor-market-block}} {{> organisms-excerpt-cards-column-content}} {{> organisms-footer}}

</div>
<!--/.wrapper-->