<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #01426a;"></span>
		<span class="sg-label">
			$brand-living-1 <br />
			#01426a
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0072bc;"></span>
		<span class="sg-label">
			$brand-living-2 <br />
			#0072bc
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f7be17;"></span>
		<span class="sg-label">
			$brand-living-3 <br />
			#f7be17
		</span>
	</li>
</ul>
