<div class="stories-item_financials-block">
  <div class="financials-block-content">
    <h2 class="financials-block-title"><time datetime="2017-11-30">Nov 30, 2017</time></h2>

    <p>Boardwalk REIT Announces Third Quarter Financial Results, a Long-term Strategic Plan Focused on NAV Growth, and Change to Monthly Distribution Beginning in 2018</p>
    {{> atoms-arrow-link:white(arrow-link-url: "#", arrow-link-text: "Read More") }}
  </div><!-- /.financials-block-content -->
</div><!-- /.stories-item_financials -->
