<div class="stories-item_twitter-block">
  <div class="twitter-block-content">
    <i class="icon icon-twitter2"></i>

    <blockquote>
      “Everything from shopping, schools to parks are just a stones throw away for my family.”

      <span class="twitter-user">@jfonta</span>
    </blockquote>
  </div><!-- /.twitter-block-content -->

  {{> atoms-arrow-link:white(arrow-link-url: "#", arrow-link-text: "Tweet Us") }}
</div><!-- /.stories-item_twitter -->
