<div id="m-nav-panel-investors" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{>atoms-close-button}}
            {{>organisms-icon-navigation:icon-navigation|d-flex|flex-row|justify-content-between|align-items-start|flex-wrap}}
        </div>
    </div> <!--/.row-->
</div> <!--/#m-nav-panel-investors-->
