<div id="m-nav-panel-investors" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{>organisms-icon-navigation}}

            {{>atoms-close-button}}
        </div>
    </div> <!--/.row-->
</div> <!--/#m-nav-panel-investors-->
