<div class="stories-item_events-block">
  <div class="events-block-content">
    <h2 class="events-block-title"><time datetime="2017-12-11">Wednesday, Dec 11, 2017</time></h2>
    <h3 class="events-block-event-type">Live Webcast</h3>
    {{> atoms-arrow-link:white(arrow-link-url: "#", arrow-link-text: "Events") }}
  </div><!-- /.events-block-content -->
</div><!-- /.stories-item_events -->
