<div class="stories-item_news-block">
  <div class="news-block-media--video">
    <picture>
        <source srcset="http://via.placeholder.com/900x600" media="(min-width: 80em)">
        <source srcset="http://via.placeholder.com/600x400" media="(min-width: 35em)">
        <img src="http://via.placeholder.com/300x200">
    </picture><!-- /.bucket-image -->
  </div><!-- /.news-block-media -->
  <div class="news-block-content">
    <h2 class="news-block-title">Title Goes Here Lorem Ipsum Elut</h2>
    <p>Cras ut mi ut neque condimentum lobortis sit amet sit amet  lorem ipsum dolor amet sit mi cursus lacinia elut ...<br />
    {{> atoms-arrow-link:blue(arrow-link-url: "#", arrow-link-text: "Apply Now") }}</p>
  </div><!-- /.news-block-content -->
</div><!-- /.stories-item_news -->
