<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header(background-color:"blue")}}

    {{> organisms-property-details-gallery}}

    {{> molecules-brand-bar}}

    {{> organisms-multiple-key-features:bg-white(heading: "Key Features")}}

    {{> molecules-promotion-block}}

    {{> organisms-footer}}

</div> <!--/.wrapper-->
