<!-- Panels for push down navigation from main nav -->
{{>organisms-panel-find-your-home}}
{{>organisms-panel-investors}}
{{>organisms-panel-search}}
{{>organisms-mobile-navigation}}

<div class="wrapper">

    {{> organisms-header}}

    {{> molecules-jumbotron:vertical-center|jumbotron-medium}}

    <div class="bg-blue investor-icon-navigation">
        {{>organisms-icon-navigation:white}}
    </div>


    {{> organisms-investor-market-block}}

    {{> organisms-excerpt-cards-column-content}}

    {{> organisms-footer}}

</div> <!--/.wrapper-->
