// Footer styles
//
// Note: #footer element is surrounding full width background colour.
//       The footer element fits within the template grid.

footer {
    background-color: $footer-bg;
}

.footer-container {
    padding: 80px 10px;

    .footer_heading {
        color: $footer-grey;
        font-family: $futura;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        @include if-min-width($M) {
            text-align: left;
        }
    }

    p {
        color: $footer-grey;
        text-align: center;

        @include if-min-width($M) {
            text-align: left;
        }
    }

    .footer_ul {
        text-align: center;

        @include if-min-width($M) {
            text-align: left;
        }

        a {
            color: $white;
            font-family: $futura;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .social-feeds {
        text-align: center;
        margin-bottom: 0;

        @include if-min-width($M) {
            text-align: left;
        }

        li {
            display: inline-block;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
            a {
                color: $white;
                font-size: 34px;
                text-decoration: none;

                &:hover,
                .icon:hover {
                  color: $blue;
                }
            }
        }
    }

    .footer-signup {
        //margin-bottom: 25px;
        padding-bottom: 15px;

        .footer_heading {
            margin-bottom: 5px;
        }

        input[type=text] {
            margin-right: 10px;
        }

        .footer_heading,
        h4,
        p {
            margin-bottom: 0; // helps with flex layout
        }
    }

    .mobile-chat {
        background-color: #1b1f22;
        padding: 15px 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        p,
        a {
            color: $white;
        }

        a {
            display: inline-block;
            margin-left: 5px;
            border-bottom: 1px solid $white;

            &:hover {
                opacity: .9;
            }
        }

        i {
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
            color: $blue;
            font-size: 22px;
        }
    }

    .copyright {

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}
