// Header styles

#header {
    position: absolute;
    top: 0;
    left: auto;
    height: 100px;
    padding-top: 15px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0));

    .logo {

        img {
            margin: 0;
            max-width: 180px;

            @include if-min-width($MNS) {
                max-width: 114px;
            }

            @include if-min-width($MNM) {
                max-width: 120px;
            }
            @include if-min-width($MNL){
                max-width: 160px;
            }
        }
    }


    &.header-blue {
        background: $blue;

        + *{
            padding-top: 100px;
        }
    }
}

#main-navigation {
    margin-bottom: 0;

    li {

        a {
            color: $white;
            font-family: $futura;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;

            &:hover,
            &.active {
                border-bottom: 2px solid $white;
                padding-bottom: 2px;
            }

            @include if-min-width($MNM) {
                font-size: 13px;
            }
            @include if-min-width($MNL){
                font-size: 14px;
            }
        }

        &.m-nav-find,
        &.m-nav-investors {

            a {

                &:after {
                    @include icomoon("\ea50");
                    font-size: 20px;
                    font-weight: bold;
                    left: 2px;
                    position: relative;
                    top: 8px;
                    transition: .3s ease-in-out;
                }

                // If nav item 'open', then rotate caret
                &.active {
                    &:after {
                        top: 0px;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

#utility-navigation {
    margin-bottom: 0;

    p {
        margin-bottom: 0;
    }

    li {
        padding: 0;

        a {
            color: $white;
            display: inline-block;
            font-family: $futura;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                color: $blue;
                text-decoration: none;
            }

            i {
                font-size: 17px;
            }

            &:before {
                font-size: 19px;
            }

            &.login-link span {
                display: none;
            }

            @include if-min-width($MNM) {
                font-size: 13px;
            }

            @include if-min-width($MNL){
                font-size: 14px;

                i {
                    font-size: 18px;
                }

                &.login-link span {
                    display: inline-block;
                }
            }
        }

        &:nth-of-type(2) {

            a {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                padding-right: 10px;
                padding-left: 10px;
            }
        }

        // Search
        &.u-nav-search {
          transform: translateY(.2em);

            a {
                font-size: 20px;
            }
        }
    }
}

// Panels for Find Your Home and Investors

#m-nav-panel-find,
#m-nav-panel-investors,
#m-nav-panel-search {
    min-height: 0;
    max-height: 0;
    opacity: 0;
    position: relative;

    .close {
        font-size: 35px;
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 0;
    }

    &.panel-open {
        min-height: 100px;
        max-height: 100%;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .container {
        padding: 50px 0;
    }
}

#m-nav-panel-find {

    p {
        margin-bottom: 15px;

        .arrow-link {
            margin-bottom: 30px;
        }
    }
}
