<label class="dropdown__label" for="{{form-field-date-id}}">
  <input type="text" id="{{form-field-date-id}}" name="{{form-field-date-id}}" class="datepicker {{styleModifier}}" placeholder="mm/dd/yyyy" {{# inputRequired }}required{{/ inputRequired}} />
</label>
