<input
    type="text"
    id="{{form-field-text-id}}"
    class="{{ styleModifier }}"
    placeholder="{{form-field-text-placeholder}}"
    aria-label="{{form-field-text-placeholder}}" {{# inputRequired }}required{{/ inputRequired}}/>
