<input
    type="tel"
    maxlength={{maxlength}}
    id="{{form-field-tel-id}}"
    class="{{ styleModifier }}"
    placeholder="{{form-field-tel-placeholder}}"
    aria-label="{{form-field-tel-placeholder}}"
    {{# inputRequired }}required{{/ inputRequired}} />
