<input
    type="email"
    id="{{form-field-email-id}}"
    class="{{ styleModifier }}"
    placeholder="{{form-field-email-placeholder}}"
    aria-label="{{form-field-email-placeholder}}"
    {{# inputRequired }}required{{/ inputRequired}} />
