<span class="radio-input">
  <input
    type="radio"
    class="form-check-input"
    name="{{form-field-radio-name}}"
    id="{{form-field-radio-id}}"
    value="{{form-field-radio-value}}"
    {{form-field-radio-checked}}
    {{form-field-radio-disabled}}
    {{# inputRequired }}required{{/ inputRequired}}
    />

  <label class="{{form-field-radio-label}} {{ styleModifier }}" for="{{form-field-radio-id}}">{{form-field-radio-text}}</label>
</span>
