<label class="dropdown__label" for="{{form-field-select-id}}">
<span class="visuallyhidden">{{form-field-select-placeholder}}</span>
    <select id="{{form-field-select-id}}" name="{{form-field-select-id}}" class="{{ styleModifier }}" aria-label="{{form-field-select-placeholder}}" {{# inputRequired }}required{{/ inputRequired}}>
        <option>{{form-field-select-placeholder}}</option>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
    </select>
</label>
