<textarea
    rows="10"
    id="{{form-field-textarea-id}}"
    class="{{ styleModifier }}"
    placeholder="{{form-field-textarea-placeholder"}}"
    aria-label="{{form-field-textarea-placeholder"}}
    {{# inputRequired }}required{{/ inputRequired}}">
</textarea>
