<div class="gallery-carousel carousel " style="max-width:">
  <div>
    <img src="&#x2F;theme&#x2F;images&#x2F;gallery&#x2F;mountain.jpg" width="1170" height="600" alt="" title="" />
  </div>
  <div>
    <img src="&#x2F;theme&#x2F;images&#x2F;gallery&#x2F;people1.jpg" width="1170" height="600" alt="" title="" />
  </div>
  <div>
    <img src="&#x2F;theme&#x2F;images&#x2F;gallery&#x2F;arch1.jpg" width="1170" height="600" alt="" title="" />
  </div>

</div>
<!-- /.content-carousel -->