<div class="feature-icon">
  <i class="icon icon-{{ icon }}" title="{{ feature }}"></i>
  <span class="feature-text">{{ feature }}{{#citation}}<span class="citation">*</span>{{/citation}}</span>
</div>
<!-- /.feature-icon -->