<div class="feature-icon">
  <i class="icon icon-{{ icon }}pet" title="{{ feature }}"></i>
  <span class="feature-text">{{ feature }}Pet Friendly<span class="citation">*</span></span>
</div>
<!-- /.feature-icon -->