
{{> elements-fa-icon:fa-shield}} normal<br>
{{> elements-fa-icon:fa-shield|fa-rotate-90}} fa-rotate-90<br>
{{> elements-fa-icon:fa-shield|fa-rotate-180}} fa-rotate-180<br>
{{> elements-fa-icon:fa-shield|fa-rotate-270}} fa-rotate-270<br>
{{> elements-fa-icon:fa-shield|fa-flip-horizontal}} fa-flip-horizontal<br>
{{> elements-fa-icon:fa-shield|fa-flip-vertica}} fa-flip-vertica<br>
