
    <!--DO NOT REMOVE-->
    {{{ patternLabFoot }}}

    <script src="/theme/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/theme/js/bootstrap.min.js"></script>
    <script src="/theme/js/bootstrap-select.min.js"></script>
    <script src="/theme/js/magnific-popup.js"></script>
    <script src="/theme/js/slick.js"></script>
    <script src="/theme/js/boardwalk.js"></script>
</body>
</html>
